/*╭─────────────────────────────────────────────────────────╮
	│              Here is the Global settings.               │
	╰─────────────────────────────────────────────────────────╯
*/

@import "https://www.nerdfonts.com/assets/css/webfont.css";


/*╭──────────────────────────────────────────────────────────╮
	│                     APP LATIN FONTS.                     │
	╰──────────────────────────────────────────────────────────╯
*/

@font-face {
	font-family: 'Big Shoulders Stencil Display';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/bigshouldersstencildisplay/v28/6aeZ4LS6U6pR_bp5b_t2ugOhHWFcxSGP9ttD96KCb8xPytKb-oPRU-vkuLm_3E__L3bm.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'mItr';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/mitr/v11/pxiLypw5ucZF-Tw4MQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Mitr';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/mitr/v11/pxiEypw5ucZF8c8bJJfecg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Saira Semi Condensed';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/sairasemicondensed/v13/U9MD6c-2-nnJkHxyCjRcnMHcWVWV1cWRRX8MaOY.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Saira Semi Condensed';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/sairasemicondensed/v13/U9MM6c-2-nnJkHxyCjRcnMHcWVWV1cWRRXf_S_MRiXk.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Saira Semi Condensed';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/sairasemicondensed/v13/U9MM6c-2-nnJkHxyCjRcnMHcWVWV1cWRRXe3TfMRiXk.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


*, *::before, *::after {
	box-sizing: border-box;
}


:root {
	color-scheme:  light dark;
	--font-title: 7ch;
	--fonts: .7rem;
	--color1: #03e9f4;
	--color2: #162789;
	--color3: #FC007A;
	--color4: #FFFFFF30;
	--color5: #333;
	--color6: #00ff00;
	--color7: #6B3A00;
	--color8: #B80056;
	--color9: #141E30;
	--color10: #243B55;
	--color11: #B8005670;
	--box: #57420C;
	--light-blue1: #CCDBDC;
	--light-blue2: #9AD1D4;
	--light-blue3: #80CED7;
	--dark-blue: #00547A;
	--dark-blue1: #003852;
	--dark-blue2: #002A3D;
	--dark-blue3: #002A3D50;
	--font-weight: 600;
	--colg: 2rem;
	--colg-mobile: 1rem;
	--rowg: 2rem;
	--rowg-mobile: 1rem;
	--bord3: .3rem;
	--mob-col: #12111385;
	--gradient: linear-gradient(270deg, var(--bg-col), var(--dark-blue2));
	--gradient1: linear-gradient(90deg, var(--bg-col), var(--dark-blue1));
	--shadow1: .3rem .3rem .6rem var(--iframes-bg),
	-.2rem -.2rem .5rem white;
	--inner-shadow1: inset .2rem .2rem .5rem var(--pressed),
	-.2rem -.2rem .5rem var(--iframes-bg);
	--inner-shadow-light: inset .1rem .1rem .5rem var(--color5),
	inset -.1rem -.1rem .5rem var(--iframes-bg);
	--inner-shadow-dark: inset .2rem .2rem .5rem var(--pressed),
	-.2rem -.2rem .5rem var(--iframes-bg);

/*╭────────────────╮
	│ 	main setup   │
	╰────────────────╯
*/
	--state: running;
	--gold: goldenrod;
	--yellow-select: #EFECBBBE;
	--hover-bg: #A39D29;
	--bg-col: #BEBBBB;
	--iframes-bg: #96979C;
	--table-line: #96979C30;
	--add-col: #0B8325;
	--measure: #2DD751;
	--result-col: #BF5E30;
	--dark: #121113;
	--back-gray: #222725;
	--menu-col: #00C2DD;
	--pressed: #77797E;
	--blueprint1: #FFFFFF80;
	--blueprint2: #FFFFFF47;
	--speed: 50s;
	--easing: cubic-bezier(.8, .2, .2, .8);
	scroll-behavior: smooth;
}


:focus::afater {
	-webkit-transform: scaleX(1);
	transform:scaleX(1);
	background:var(--gradient);
	box-shadow: var(--shadow1);
}


.light-mode {
	background-color: var(--bg-col);
	transition: all 1s linear;
	--table-font: var(--pressed);
	--table-bg: var(--light-blue1);
	--inner-shadow: var(--inner-shadow-dark);
	--input-bg: var(--bg-col);
	--input-font-col: var(--mob-col);
	--selection-bg: transparent;
	--crate-btn-col: var(--color3);
	--p__color--mode: var(--back-gray);
	--pack-works: var(--light-blue2);
	--work-hover: var(--yellow-select);
	--stroke: var(--box);
	--background-select: var(--bg-col);
	--background-option: white;
	--popup: var(--color5);
}


.dark-mode {
	background-color: var(--color5);
	transition: all 1s linear;
	--table-bg: var(--table-line);
	--table-font: var(--light-blue1);
	--p__color--mode: white;
	--inner-shadow: var(--inner-shadow-light);
	--input-bg: var(--iframes-bg);
	--input-font-col: white;
	--selection-bg: var(--add-col);
	--crate-btn-col: var(--iframes-bg);
	--pack-works: var(--iframes-bg);
	--work-hover: var(--pressed);
	--stroke: var(--color1);
	--background-select: var(--color5);
	--popup: white;
}


body {
	box-sizing: border-box;
	font-family: Saira Semi Condensed, Mitr, sans-serif;
	font-size: var(--fonts);
	background: var(--dark-blue1);
	height: 90dvh;
	scroll-behavior: smooth;
	transition: all 1s ease-in-out;
	position: relative;
}


h2 {
	font-size: var(--font-title);
}


h1, h2, h3 {
	color: white;
}


h4 {
	text-align: left;
	font-size: calc(var(--font-title) / 1.5 );
	padding: 0;
	color: white;
	text-transform: uppercase;
	margin: 1rem 0 3rem 0;
}


iframe {
	text-align: center;
	border: .05rem solid var(--iframes-bg);
	border-radius: 1.2rem;
	transition: 500ms ease-in-out;
	animation-name: fill-pane 2s ease;
	animation-fill-mode: both;
	animation-delay: 1s;
	&:hover {
		border: none;
		box-shadow: var(--shadow1);
		cursor: pointer;
	}
	&:focus-within {
		outline: .1rem solid var(--dark-blue);
	}
}


p, a {
	background: transparent;
	text-align-last: justify;
	line-height: 1rem;
	font-size: var(--fonts);
	font-family: 'Mitr', sans-serif;
	font-weight: 500;
	color: white;
	/*text-indent: 3rem;*/
	text-shadow: unset;
	text-wrap: balance;
}


button:disabled,
button[disabled] {
	cursor: not-allowed;
	filter: blur(.3rem);
}


ul, li {
	position: relative;
	margin: 0;
	list-style: inside;
	list-style-type: circle;
	background: transparent;
	text-align-last: left;
	line-height: 1rem;
	font-size: var(--fonts);
	font-family: 'Mitr', sans-serif;
	font-weight: 500;
	color: white;
	text-wrap: pretty;
}


li {
	text-align: left;
	font-family: Mitr, sans-serif;
	font-size: var(--fonts);
	font-weight: 400;
	color: white;
	line-height: 2rem;
}


label {
	position: relative;
	color: var(--iframes-bg);
	font-size: calc(var(--fonts) + .2rem);
}


input {
	box-shadow: var(--inner-shadow);
	background-color: var(--input-bg);
	border-radius: .3rem;
	border: transparent;
	outline: none;
	border-bottom: .05rem solid white;
	border-right: .05rem solid white;
	& {
		text-align: center;
		font-family: Mitr, sans-serif;
		font-size: calc(var(--fonts) + .1rem);
		font-weight: 400;
		color: var(--input-font-col);
	}
	&:focus {
		left: 0;
		color: white;
		font-size: var(--fonts);
		transition: .5s ease-in-out;
		&::placeholder {
			opacity: 0;
		}
	}
	&::placeholder {
		opacity: .45;
		font-weight: 300;
		font-style: italic;
		font-size: .8rem;
		color: var(--table-font);
	}
}


select {
	display: block;
}


::-webkit-scrollbar {
	width: .4rem;
	height: .4rem;
}


::-webkit-scrollbar-track {
	background: white;
	border-radius: 10vw;
	margin-block: .2rem;
}


::-webkit-scrollbar-thumb {
	background: var(--pressed);
	border-radius: 10vh;
	border: .1rem solid white;
}


section {
	height: 90vh;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	& div {
		& h1, h2 {
			text-align: center;
			font-size: var(--font-title);
			padding: 0;
			margin: 0;
			opacity: 1;
		}
		& h3 {
			text-align: center;
			font-size: var(--font-title);
			padding: 0;
			color: white;
			text-transform: uppercase;
			margin: 1rem 0 3rem 0;
		}
		& h2 {
			text-align: center;
			font-size: calc(var(--font-title) / 3);
			padding: 0;
			opacity: 1;
			color: var(--dark);
			text-transform: uppercase;
			margin: 1rem 0 3rem 0;
		}
		& p {
			place-self: center;
			display: initial;
			font-size: 2ch;
			opacity: 1;
			word-spacing: 0;
			padding: auto;
			margin: 0;
			& + h2 {
				margin-top: .1ch;
			}
		}
		& span {
			flex-grow: 1;
		}
		& mark {
			padding: .3rem 3cqw;
		}
	}
}


b {
	font-family: 'Mitr';
	font-size: 2.5ch;
	color: var(--color3);
	text-decoration: underline;
}


header {
	grid-area: header;
}


svg {
	inset: 0;
	height: 100%;
	width: 100%;
	place-self: center;
	justify-content: center;
	position: relative;
	transition: all 2s ease-in-out;
	& {
		scroll-timeline-axis: y;
		scroll-timeline-axis: vertical;
		animation: svg-back-ground linear forwards;
		animation-timeline: view();
		animation-range: 10% contain;
		animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
}


/*
 * ╭─────────────────────────────────────────────────────────╮
 * │                       Home setup                        │
 * ╰─────────────────────────────────────────────────────────╯
*/

.container__home {
	container-name: home;
	container-type: inline-size;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(9, 90dvh);
	row-gap: 6cqh;
	column-gap: 7cqw;
	height: 100%;
	inset: 0;
	position: relative;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	scroll-padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	& {
		grid-template-areas:
			"svg-logo svg-logo svg-logo svg-logo hero hero"
			"about about about about about about"
			"utils utils utils utils utils utils"
			"svg-tubes svg-tubes svg-tubes tubes tubes ."
			". same-sizes same-sizes svg-same-sizes svg-same-sizes svg-same-sizes"
			"svg-sculptures svg-sculptures svg-sculptures sculptures sculptures ."
			". huge-canvas huge-canvas svg-huge-canvas svg-huge-canvas svg-huge-canvas"
			"svg-diff-sizes svg-diff-sizes svg-diff-sizes diff-sizes diff-sizes ."
			"footer footer footer footer footer footer"
	}
	& {
		background-image:
		linear-gradient(var(--blueprint1) .01px, transparent 1px),
		linear-gradient(90deg, var(--blueprint1) .01px, transparent 1px),
		linear-gradient(var(--blueprint2) .01px, transparent 1px),
		linear-gradient(90deg, var(--blueprint2) .01px, transparent 1px);
		background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
		background-position: center;
		background-attachment: fixed;
		background-color:
			color-mix(in srgb, var(--dark-blue), black 0%);
		border: solid .1rem var(--light-blue3);
		box-shadow: inset 0 0 20rem var(--dark);
		filter: drop-shadow(0 0 .01rem var(--dark-blue1));
	}
	& svg + div, section > div {
		scale: .2;
		border: .1rem solid var(--color4);
		box-shadow: var(--shadow1);
		border-radius: 2rem;
		padding: 3rem;
		background: radial-gradient(#00000000, #00000085);
		place-self: center stretch;
		z-index: -1;
		animation: show-up linear forwards;
		animation-timeline: view();
		animation-range: 1% 50%;
		animation-timing-function: ease-in-out;
		filter: drop-shadow(0 0 3rem white);
	}
}


.guide__metric {
	--ruler-num-c: #888;
	--ruler-num-fz: 10px;
	--ruler-num-pi: .75ch;
	--ruler-unit: 1px;
	--ruler-x: 1;
	--ruler-y: 1;

	--ruler1-bdw: 1px;
	--ruler1-c: #BBB;
	--ruler1-h: 8px;
	--ruler1-space: 5;

	--ruler2-bdw: 1px;
	--ruler2-c: #BBB;
	--ruler2-h: 20px;
	--ruler2-space: 65;

	scroll-snap-align: start;
	scroll-snap-stop: always;
	inset: 0;
	position: relative;
	&::before {
		inset: 0;
		content: "";
		position: fixed;
		background-image:
		linear-gradient(90deg, var(--ruler1-c) 0 var(--ruler1-bdw), transparent 0),
		linear-gradient(90deg, var(--ruler2-c) 0 var(--ruler2-bdw), transparent 0),
		linear-gradient(0deg, var(--ruler1-c) 0 var(--ruler1-bdw), transparent 0),
		linear-gradient(0deg, var(--ruler2-c) 0 var(--ruler2-bdw), transparent 0);
		background-position: 0 0;
		background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
		background-size:
		calc(var(--ruler-unit) * var(--ruler1-space) * var(--ruler-x)) var(--ruler1-h),
		calc(var(--ruler-unit) * var(--ruler2-space) * var(--ruler-x)) var(--ruler2-h),
		var(--ruler1-h) calc(var(--ruler-unit) * var(--ruler1-space) * var(--ruler-y)),
		var(--ruler2-h) calc(var(--ruler-unit) * var(--ruler2-space) * var(--ruler-y));
		filter: drop-shadow(0 0 3rem white);
		opacity: .4;
	}
	& .ruler-x, .ruler-y {
		inset: 0;
		color: var(--ruler-num-c);
		counter-reset: d 0;
		display: flex;
		font-size: var(--ruler-num-fz);
		line-height: 1;
		margin: 0;
		padding: 0;
		position: fixed;
		z-index: -10;
	}
	& .ruler-x {
		height: var(--ruler2-h);
		width: 100%;
		inset-block-start: 0;
		inset-inline-start: calc(var(--ruler-unit) * var(--ruler2-space));
	}
	& .ruler-y {
		flex-direction: column;
		height: 100%;
		inset-block-start: calc(var(--ruler-unit) * var(--ruler2-space));
		inset-inline-start: 0;
		width: var(--ruler2-h);
	}
	& .ruler-x li {
		align-self: flex-end;
	}
	& .ruler-x li, .ruler-y li {
		list-style: none;
		counter-increment: d var(--ruler2-space);
		flex: 0 0 calc(var(--ruler-unit) * var(--ruler2-space));
		opacity: .5;
	}
	& .ruler-x li::before {
		inset: 0;
		content: counter(d)"";
		position: absolute;
		line-height: 1;
		padding-inline-start: var(--ruler-num-pi);
		overflow: visible;
	}
	& .ruler-y li::before {
		inset: 0;
		content: counter(d)"";
		display: block;
		padding-inline-end: var(--ruler-num-pi);
		transform: rotate(-90deg);
		transform-origin: 100% 0%;
		text-align: end;
		width: 100%;
	}
}


.sub__grid {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: 1fr;
	column-gap: 4cqw;
	& .svg__left {
		grid-area: 1 / 2 / 1 / 6;
		place-self: center stretch;
		height: 80%;
		width: 35cqw;
	}
	& .svg__right {
		grid-area: 2 / 7 / 1 / 11;
		place-self: center stretch;
		height: 80%;
		width: 35cqw;
	}
	& .text-content > p {
		font-size: 1rem;
		opacity: 1;
	}
}


nav {
	border: solid .1rem var(--color4);
	border-radius: .3rem;
	padding: .6rem;
	margin: 1cqh 0;
	backdrop-filter: blur(.1rem);
	& ul, li {
		padding: unset;
		list-style: none;
	}
	& .nav-logo {
		animation: unset;
		border: unset;
		height: 5cqh;
		width: 2.4cqw;
		fill: none;
		cursor: pointer;
		background-color: transparent;
		box-shadow: none;
		background: unset;
		filter: none;
		&:hover {
			box-shadow: 0 0 1rem #FFFFFF50;
		}
	}
	& .nav__bar {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-items: center;
		flex-shrink: 1;
		column-gap: 1cqw;
		& > li {
			border: solid .1rem #FFFFFF30;
			& > a {
				padding: 1rem;
			}
			&:hover {
				box-shadow: 0 0 1rem #FFFFFF50;
			}
		}
		& > * {
			flex-basis: 1;
			flex-grow: 100%;
		}
	}
	& span {
		flex-grow: 1;
		padding: 1rem;
	}
}


.hero {
	grid-area: 1 / 1 / 1 / 11;
	inset: 0;
	animation: fade-out linear;
	animation-timeline: view();
	animation-range: exit 1rem;
	animation-timing-function: ease-in-out;
	& > svg {
		animation: zoomer linear;
		animation-timeline: view();
		animation-range: exit 1rem;
	}
	& .logo {
		grid-area: 1 / 2 / 1 / 9;
		background-color: transparent;
		background: unset;
		filter: unset;
		backdrop-filter: none;
		box-shadow: none;
		filter: unset;
		z-index: -1;
	}
	& .main-background {
		animation: unset;
		scale: 1;
		grid-area: 1 / 8 / 1 / 11;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: space-even;
		height: 80%;
		mix-blend-mode: unset;
		backdrop-filter: unset;
		border: .1rem solid var(--color4);
		opacity: .9;
		border-radius: .3rem;
		background: var(--dark-blue1);
		box-shadow: unset;
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(../images/ampulheta-removebg-preview.png);
			background-size: 30cqh;
			mix-blend-mode: difference;
			opacity: .1;
			z-index: -1;
		}
	}
}


.logo-svg {
	& .svg__logo--eye {
		-webkit-animation: 800ms ease-in-out infinite alternate eye-blink;
		animation: 800ms ease-in-out infinite alternate eye-blink;
		transition-timing-function: animation 300ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
		cursor: pointer;
		/*animation: border-waves 2000ms linear infinite;*/
		/*animation-play-state: running;*/
		/*cursor: pointer;*/
	}
}


.svg__logo__bkg {
	fill-opacity: .7;
	width: 100%;
	height: 100%;
}


.info, .utils {
	grid-area: 2 / 1 / 2 / 11;
	inset: 0;
	z-index: -1;
	padding: 1rem;
	border-radius: unset;
	& .info-content {
		height: fit-content;
		grid-area: 1 / 1 / 1 / 12;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(../images/compass-removebg-preview.png);
			filter: drop-shadow(0 0 3rem white);
			z-index: -10;
		}
		& .about-content {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			column-gap: 5rem;
			padding: 1rem;
			z-index: 10;
			& div {
				mix-blend-mode: difference;
				border-radius: 1rem;
				backdrop-filter: blur(1rem);
				border-radius: 1rem;
				padding: 1rem;
				z-index: 1;
				flex-grow: 1;
				flex-basis: 100%;
				inset: 0;
				position: relative;
				background-origin: content-box;
				&:hover {
					z-index: 0;
					box-shadow: var(--shadow1);
					opacity: 1;
					content: "";
					position: relative;
					transition: all 1s ease-in-out;
					transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
					filter: drop-shadow(0 0 .01rem var(--dark-blue1));
				}
				&::after {
					content: "";
					position: absolute;
					inset: 0;
					border-radius: 1rem;
					padding: .5rem;
					background-image: linear-gradient(45deg, #00000000, #00000085),
						radial-gradient(circle at top left, transparent, #00000085);
					background-origin: border-box;
					background-clip: content-box, border-box;
					mix-blend-mode: difference;
					z-index: 1;
				}
			}
		}
	}
}


.utils {
	grid-area: 3 / 1 / 3 / 11;
	& .info-content {
		opacity: .3;
		&::before {
			background-image: url(../images/time-removebg-preview.png);
			background-repeat: no-repeat;
			background-position: center;
			filter: hue-rotate(90deg);
			z-index: -10;
		}
		& .solve__content > div {
			&::before {
				content: "";
				background-size: 3rem;
				background-repeat: no-repeat;
				background-position: center;
				float: left;
				height: 4rem;
				width: 4rem;
				font-size: 3rem;
				shape-outside: circle();
				clip-path: circle();
				background-color: var(--light-blue1);
				padding: 1rem;
				margin: 1rem;
				border: solid 1rem solid;
				border-radius: 50%;
			}
			&:nth-of-type(1)::before {
				background-image: url(../images/chat.svg);
			}
			&:nth-of-type(2)::before {
				background-image: url(../images/pencil.svg);
			}
			&:nth-of-type(3)::before {
				background-image: url(../images/lamp.svg);
			}
			&:nth-of-type(4)::before {
				background-image: url(../images/laptop.svg);
			}
			&:hover {
					filter: drop-shadow(0 0 .5rem var(--color1));
			}
		}
	}
}


.tubes {
	grid-area: 4 / 1 / 4 / 11;
	inset: 0;
	& .content-tubes {
		grid-area: 1 / 7 / 1 / 10;
		position: relative;
		inset: 0;
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(../images/formao-removebg-preview.png);
			filter: contrast(.5);
			background-size: 30cqh;
			z-index: -1;
		}
	}
}


.same-size {
	grid-area: 5 / 1 / 5 / 11;
	inset: 0;
	& .content-same-sizes {
		grid-area: 1 / 3 / 1 / 6;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(../images/disc-blade-removebg-preview.png);
			background-size: 30cqh;
			filter: contrast(.5);
			z-index: -1;
		}
	}
}


.sculptures {
	grid-area: 6 / 1 / 6 / 11;
	inset: 0;
	& .content-sculptures {
		grid-area: 1 / 7 / 1 / 10;
		position: relative;
		backdrop-filter: unset;
		&::after {
			content: "";
			position: absolute;
			inset: 0;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(../images/jig-saw-removebg-preview.png);
			/*backdrop-filter: invert(60%);*/
			filter: contrast(.5);
			background-size: 25cqh;
			z-index: -1;
			border: unset;
		}
	}
}


.huge-canvas{
	grid-area: 7 / 1 / 7 / 11;
	& .content-huge-canvas {
		grid-area: 1 / 3 / 1 / 6;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(../images/clamp-tool-removebg-preview.png);
			background-size: 20cqh;
			filter: contrast(.5);
			z-index: -1;
		}
	}
}


.diff-sizes {
	grid-area: 8 / 1 / 8 / 11;
	inset: 0;
	& .content-diff-sizes {
		grid-area: 1 / 7 / 1 / 10;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(../images/tape-measure-removebg-preview.png);
			background-size: 40cqh;
			filter: contrast(.5);
			z-index: -1;
		}
	};
}


footer {
	grid-area: 9 / 1 / 9 / 11;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	inset: 0;
	& {
		display: grid;
		grid-template-columns: repeat(10 1fr);
		grid-template-rows: 1fr .3fr;
		column-gap: 5cqw;
		row-gap: 3cqw;
		padding: 1rem 1rem 0 1rem;
	}
	& .tools {
		inset: 0;
		visibility: hidden;
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background-repeat: no-repeat;
			background-image: url(../images/metric-tools-removebg-preview.png);
			background-position: top 50% right;
			mix-blend-mode: overlay;
			filter: drop-shadow(0 0 1rem white);
			overflow: clip;
			z-index: -10;
			opacity: .9;
			visibility: visible;
		}
		&::after {
			content: "";
			position: absolute;
			inset: 0;
			background-repeat: no-repeat;
			background-image: url(../images/sharpper-removebg-preview.png);
			background-position: bottom 40% left;
			mix-blend-mode: overlay;
			transform: translateX(0%) translateY(30%);
			filter: drop-shadow(0 0 1rem white);
			overflow: clip;
			z-index: -10;
			opacity: .3;
			visibility: visible;
		}
	}
	& .start-footer {
		grid-area: 1 / 1 / 1 / 11;
		min-height: 80%;
		inset: 0;
		position: relative;
		background: radial-gradient(#00000000, #00000085);
		border-radius: 1rem;
		& div:nth-of-type(1) {
			display: flex;
			flex-direction: column;
			padding: 10rem;
			& h4 {
				text-align: center;
			}
		}
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background-repeat: no-repeat;
			background-image: url(../images/furadeira-removebg-preview.png);
			background-position: center;
			filter: hue-rotate(90deg);
			transform: translateX(7%) translateY(60%);
			filter: drop-shadow(0 0 1rem white);
			mix-blend-mode: overlay;
			overflow: clip;
			z-index: -10;
			opacity: .2;
		}
		&::after {
			content: "";
			position: absolute;
			inset: 0;
			background-repeat: no-repeat;
			background-image: url(../images/BLADE.png);
			filter: drop-shadow(0 0 1rem white);
			mix-blend-mode: overlay;
			overflow: clip;
			z-index: -10;
		}
	}
	& .footer-content {
		grid-area: 2 / 2 / 2 / 10;
		background: radial-gradient(var(--color1), var(--dark));
		border-radius: .3rem .3rem 0 0;
		padding: 2rem;
		& {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			gap: 5rem;
			& > * {
				flex-grow: 1;
				flex-basis: 1;
			}
		}
	}
}


@keyframes border-waves {
	0% {
		transform: scale(1);
		/*border: solid .3rem white scale(1);*/
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		/*border: solid .7rem white scale(2.5);*/
		transform: scale(1.05);
		opacity: 0;
	}
}


@keyframes eye-blink {
	0% {
		fill: none;
	}
	50% {
		fill-opacity: .5;
	}
	100% {
		fill: var(--color3);
		fill-opacity: 1;
		filter: drop-shadow(0 0 4rem crimson);
	}
}


@keyframes show-up {
	to {
		scale: 1;
		opacity: 1;
	}
}


@keyframes zoomer {
	from {
		scale: 1;
		opacity: 1;
	}
	to {
		scale: 0;
		opacity: 0;
	}
}


@keyframes fade-out {
	20%, 100% {
		opacity: 0;
	}
}


@keyframes svg-back-ground {
	0%, 50% {
		transform: scaleX(0);
		opacity: 0;
		background: unset;
		border-radius: .2rem;
	}
	100% {
		opacity: 1;
		filter: drop-shadow(0 0 .01rem var(--dark-blue1));
		background: radial-gradient(#00000000, #00000085);
		border-radius: 2rem;
		scale: 1.1;
		perspective: 14rem;
	}
}

/*╭──────────────────────────────────────────────────────────╮
│                      Buttons setup                       │
╰──────────────────────────────────────────────────────────╯
 */

:is(.IO__press, .IO__press-mobile) {
	display: flex;
	justify-content: space-between;
}

.IO__add--form {
	display: flex;
	justify-content: space-evenly;
}


/* ADD button style */
.IO__press--btn {
	color: var(--color4);
	height: 2.5rem;
	width: 5rem;
	background: transparent;
	border: 0;
	border-radius: .8rem;
	cursor: pointer;
	transition: transform .3s ease-in-out;
	opacity: .6;
	&:hover {
		transition: all .5s ease-in-out;
		transform: translateY(.1rem);
		border-bottom: .05rem solid var(--color4);
		border-right: .05rem solid var(--color4);
		box-shadow: var(--shadow1);
	}
	&:active {
		box-shadow: var(--inner-shadow);
		transition: all .5s ease-in-out;
	}
}


:is(.press--btn-mobile, .IO__press--btn) {
	font-family: Saira Semi Condensed, sans-serif;
	font-weight: 700;
	font-size: calc(var(--fonts) + .5rem);
	transition: all 1s ease;
	&:is(.add--btn, .del--btn, .clear--btn) {
		outline: 0;
	}
}


.add--btn:focus-within {
	outline: 1px solid var(--color6);
	outline-offset: 2px;
}

.del--btn:focus-within {
	outline: 1px solid var(--color8);
	outline-offset: 2px;
}

.clear--btn:focus-within {
	outline: 1px solid var(--color4);
	outline-offset: 2px;
}

/*╭──────────────────────────────────────────────────────────╮
│                       Crate button                       │
╰──────────────────────────────────────────────────────────╯
 */
.IO__crate {
	&:focus-within {
		outline: 3px solid goldenrod;
		outline-offset: 2px;
	}
	&:hover {
		visibility: visible;
		-webkit-animation: fadeIn .5s;
		animation: fadeIn 1s;
		transform: translateY(.1rem);
		background: goldenrod;
		box-shadow: var(--shadow1);
		border: .5rem solid var(--color8);
		transition: all .5s ease-in-out;
		color: var(--color5);
		& > p {
			color: var(--color5);
		}
		.popup {
			display: block;
		}
	}
	&:active {
		transition: .5s ease-in-out;
		box-shadow: var(--inner-shadow);
		transition: .3s ease-in-out;
		background: red;
	}
	&:active ~ span {
		animation-play-state: paused;
	}
}


.IO__press__crate {
	display: grid;
	place-items: center;
}


.IO__crate__txt {
	display: grid;
	place-items: center;
	opacity: 100%;
}


.IO__crate:hover::before {
	transform: translateX(30rem) skew(-20deg);
}


.IO__crate::before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: -7rem;
	width: 100%;
	height: 100%;
	background: linear-gradient(
	90deg, transparent, #ffffff75,
	transparent
	);
	transition: all 3s;
	z-index: -1;
	transform: translateX(-12rem) skew(-20deg);
}


.IO__crate {
	background: var(--bg-clr);
	box-sizing: border-box;
	border: var(--iframes-bg);
	border-radius: 50%;
	box-shadow: var(--inner-shadow);
	position: absolute;
	transition: all 0.3s ease;
	cursor: pointer;
	overflow: hidden;
	z-index: 10;
	text-transform: uppercase;
	width: 6rem;
	height: 6rem;
	text-decoration: underline;
	text-underline-offset: .09rem;
	color: var(--crate-btn-col);
	isolation: isolate;
}


.IO__crate > p {
	color: var(--crate-btn-col);
	font-size: 1rem;
	font-family: Mitr, sans-serif;
	font-weight: 500;
	text-decoration: underline;
	text-underline-offset: -.8rem;
	opacity: .6;
}


:is(.IO__crate--shadow1, .IO__crate--shadow2) {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	border-radius: 50%;
	z-index: -10;
	width: 6.7rem;
	height: 6.7rem;
	filter: blur(.1rem);
}


.IO__crate--shadow1 {
	box-shadow: .3rem .3rem .6rem var(--iframes-bg),
	-.2rem -.2rem .5rem white;
	background: linear-gradient(
	to bottom right,
	var(--color4) 0%,
	var(--background) 100%
	);
	transition: all .2s linear;
	animation: waves 2000ms linear infinite;
	animation-play-state: running;
	cursor: pointer;
}


.IO__crate--shadow2 {
	box-shadow: .3rem .3rem .6rem var(--iframes-bg),
	-.2rem -.2rem .5rem white;
	background: linear-gradient(
	to bottom right,
	var(--background) 0%,
	var(--color8) 100%
	);
	transition: all .2s linear;
	animation: waves 2000ms linear 1000ms infinite;
	animation-play-state: running;
	cursor: pointer;
}


@keyframes waves {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.5);
		opacity: 0;
	}
}
