/*-----------------------------------------------------------------------------
					 Here is the "Global settings.
------------------------------------------------------------------------------*/
* {
	box-sizing: border-box;
}

:root {
	--fonts: 4rem;
	--color1: #03e9f4; 
	--color2: #162789; 
	--color3: #FC007A; 
	--color4: #FFF; 
	--color5: #554
	--font-weight: 600;
	--colg: 5rem;
	--rowg: 3rem;
	--border: 3rem;
	--backgrou-transp: #ffffff33
	counter-reset: headings;
}


/* Style the header */
/* .header { */
/* 	position: relative; */
/* 	place-items: center; */
/* 	grid-area: header; */
/* 	background: linear-gradient(to bottom, #162789, #03e9f4); */
/* 	text-align: center; */
/* 	font-size: var(--font-size); */
/* 	height: 10rem; */
/* } */


body {
	background-color: #03e9f4;
	font-family: Arial, Helvetica, Sans-serf;
	font-size: 0.8rem;
	background-position: center;
}


h1 {
	counter-increment: headings;
	font-size: var(--fonts);
	margin: auto;
	padding: auto;
}


h2 {
	font-size: calc(var(fonts) - 2);
}


iframe {
	border: none;
	border-radius: 0.5rem;
}


option, select {
	color: #313131;
	border-radius: var(--border);
	font-size: calc(var(--fonts) - 3);
	font-weight: 500;
	background: transparent;
	padding: 0.3rem 0.3rem;
}


p {
	background: transparent;
	text-align: left;
	outline: none;
	color: var(--color4);
	font-size: calc(var(--fonts) - 3);
}


section, ul, li, a {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

tr, td {
	text-align: center;
	padding: 0.5rem 0.5rem;
	padding: 0.5rem 0.5rem;
	border-radius: 0.3rem;
}


tbody:nth-child(even) {
	text-align: center;
	border-color: 2rem solid var(--color2);
	border-radius: 5rem;
	background: linear-gradient(270deg, var(--color3), var(--color1));
}


/*-----------------------------------------------------------------------------
					 Starting to edit the elements of the page.
------------------------------------------------------------------------------*/
.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
	column-gap: var(--colg);
	row-gap: var(--rowg);
	padding: 0 17rem;
}


/* Box shape */
.insertion_left, .box-right, .result-left, .result {
	padding: 2rem 2rem;
	font-size: 1rem;
	font-weight: 600;
	background: var(--backgrou-transp);
	box-sizing: border-box;
	box-shadow: 0 0.08rem 3.2rem 0 #1F26875E;
	backdrop-filter: blur( 0.8rem);
	border-radius: 1rem;
	border: 0.1rem solid #FFFFFF2E;
}


/*-----------------------------------------------------------------------------
					 Right pane settings.
------------------------------------------------------------------------------*/
.pane-right {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 1rem;
}

#clear{
	margin-top: 2rem;
}

#frame-list{
	min-height: 13rem;
	max-width: 40vhw;
	margin-left: -1rem;
}

.IO {
	display: flex;
	flex-wrap: wrap;
}

#metric {
	margin-left: 4vw;
}

.press {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.row-span-2{
	grid-row: span 2;
}

/*-----------------------------------------------------------------------------
							Popup hover settings
------------------------------------------------------------------------------*/
.popup-text {
	visibility: hidden;
	border-radius: var(--border);
	background: linear-gradient(270deg, var(--color3), var(--color1));
	color: var(--color4);
	padding: 0.2rem 0.5rem;
	position: absolute;
	margin: -2rem 0 0 -0.5rem ;
}

label:hover + .popup-text {
	visibility: visible;
	display: inline;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
	text-align: end;
}

@-webkit-keyframes fadeIn {
	from { opacity: 0 ;}
	to { opacity: 1; }
}

@keyframes fadeIn {
	from { opacity: 0 ;}
	to { opacity: 1; }
}
/*-----------------------------------------------------------------------------
					 This is the div to side menu
------------------------------------------------------------------------------*/

.text {
	visibility: hidden;
	border-radius: var(--border);
	background: linear-gradient(270deg, var(--color3), var(--color1));
	color: var(--color4);
	padding: 0.3rem 0.5rem;
	position: absolute;
	margin: -3rem 0 0 -8rem ;
	overflow: hidden;
}

.menu-nav {
	font-size: 1rem;
	font-weight: 600;
	background: var(--backgrou-transp);
	box-sizing: border-box;
	box-shadow: 0 0.08rem 3.2rem 0 #1F26875E;
	backdrop-filter: blur( 0.8rem);
	border-radius: 1rem;
	border: 0.1rem solid #FFFFFF2E;
}

.menu-nav {
	display: flex;
	flex-shrink: 0;
	flex-basis: auto;
	align-items: center;
	position: fixed;
	margin: 0% 9%;
}

.currency, .converter, .updater, .done, .consult {
	display: block;
	padding: 1.9rem 1.9rem;
	transform: scale(0.5);
	position: center;
}

.currency {
	background: url("./icons/icons8-exchange-64.png");
}

.converter {
	background: url("./icons/icons8-ruler-64.png");
}

.updater {
	background: url("./icons/icons8-update-64.png");
}

.done {
	background: url("./icons/icons8-task-completed-64.png");
}

.consult {
	background: url("./icons/lupa.png");
}

li:hover + .text{
	display: flex;

	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/*-----------------------------------------------------------------------------
								Result pane 
------------------------------------------------------------------------------*/
.grid-column-span {
	grid-column: span 2;
}


.result > * {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 2fr));
	column-gap: 1rem;
	row-gap: var(--rowg);
}


/*-----------------------------------------------------------------------------
					 This is the div to estimate input
------------------------------------------------------------------------------*/
input, select {
	font-size: 1rem;
	font-weight: 550;
	background: transparent;
	text-align: center;
	border-radius: 3rem;
	outline: none;
	border: 0.01rem solid #fff;
	color: #fff;
}

#input_code {
	min-width: 9.6rem;
	font-size: 1rem;
	margin-right: 4rem;
}

#input_estimate {
	min-width: 10.5rem;
	font-size: 1rem;
}


/*-----------------------------------------------------------------------------
					 This is the form to input data.
------------------------------------------------------------------------------*/
.code .sizes, input {
	background: transparent;
	width: 3em;
	font-weight: 1rem;
	text-align: center;
	border-radius: 0.3rem;
	padding: 0.01rem 1rem 0 0;
	outline: none;
	border: none;
	border: 0.1rem solid var(--color4);
	margin-bottom: 2rem;
}

.code .sizes, label {
	position: relative;
	padding: -1em 0.5em 0.5em 0.5rem;
	color: var(--color4);
}

.code .sizes, input:focus {
	top: -1rem;
	left: 0;
	color: var(--color4);
	font-size: 1.2rem;
}


/*-----------------------------------------------------------------------------
								Buttons setup
------------------------------------------------------------------------------*/
/* Main button */
#crate {
	background-color: Red;
	position: center;
	padding: 0.1rem 0.1rem;
	color: #000;
}

.button:hover::before {
	transform:translateX(30rem) skew(-20deg);
}

.button:hover {
	background: red;
	transition: all 0.3s;
}

.button::before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: -7rem;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		90deg, transparent, #ffffff75,
		transparent
	);
	transition: all 3s;
	z-index: -1;
	transform: translateX(-12rem) skew(-20deg);
}

.button {
	background: transparent;
	box-sizing: border-box;
	box-shadow: 0 1.05rem 2.05rem #00000099;
	border-radius: 0.4rem;
	border: transparent;
	position: absolute;
	border-radius: 50%;
	transition: all 0.3s;
	cursor: pointer;
	overflow: hidden;
	z-index: 1;
	text-transform: uppercase;
	padding: 1.65em  1.35rem 1.69rem 1.45rem;
}

.button:active{
	box-shadow: 0 0;
}

.crate_btn {
	width: 8rem;
	height: 8rem;
}

.shape_btn {
	cx: 4rem;
	cy: 4rem;
	r: 3.4rem;
	stroke-width: 0.75rem;
	fill: yellow;
}

/* Add button style */
.set_btn:hover {
	background: transparent;
	border: transparent;
}

.set_btn {
	color: var(--color4);
	margin: 2rem 2rem 2rem 0;
	padding: 1rem 3rem;
	background: transparent;
	border: transparent;
	border-radius: 1rem;
	box-shadow: 0 1.05rem 2.05rem #00000033;
	font-weight: 700;
	font-size: 1.5rem;
}

.set_btn:active {
	box-shadow: 0 0 0 0;
	transform: translateY(0.1rem);
}

/* Crate button */
.press_btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

#input_len, #input_dep {
	margin-right: 0.5vw;
}


/* ╭────────────────────────────────────────────────────────────────────────╮*/
/* │ ---------------------------------------------------------------------- │*/
/* │                            Responsive settings                         │*/
/* │ ---------------------------------------------------------------------- │*/
/* ╰────────────────────────────────────────────────────────────────────────╯*/
@media only screen and (max-width: 1850px){
	header, .menu-nav{ display: none; }

	.grid-container, .press, .pane-right{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		column-gap: 2rem;
		padding: 0 2.5rem;
	}

	#metrica, #input_code, #input_estimate{ margin: 0 4rem 1.5rem 0; }

	#metric {
		margin-left: 0;
		padding-right: 1.5rem;
	}

	.insertion_left, .box-right{ padding: 1rem 2.5rem; }

	#input_len, #input_dep, #input_hig{ margin-right: 1rem; }
	
	.title, .counter{ grid-column: span 1; }

	.pane-right {
		padding: 0 0;;
	}

	.set_btn { margin: 0.5rem 1rem; }
	
	.title, .press_btn {
		padding-left: 0;
		margin: 0 0 1rem 0;
	}
}


@media only screen and (max-width: 428px) {
	header, .menu-nav{ display: none; }

	#clear, .set_btn { margin: 2rem 1rem; }

	.grid-container, .pane-right {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		padding: 0 0.5rem;
	}

	#metrica, #input_code, #input_estimate{ margin: 0 4rem 1.5rem 0; }

	#metric {
		margin-left: 0;
		padding-right: 1.5rem;
	}

	.insertion_left, .box-right { padding: 1rem 2.5rem; }

	#input_len, #input_dep, #input_hig{ margin-right: 1rem; }

	.grid-column-span, .counter{ grid-column: span 1; }
	
	.pane-right {
		padding: 0 0;;
	}

	.set_btn { margin: 0.5rem 1rem; }

	.title, .press_btn{
		padding-left: 0;
		margin-left: 0;
	}
}
