/*-----------------------------------------------------------------------------
					 Here is the "Global settings.
------------------------------------------------------------------------------*/
* {
	box-sizing: border-box;
}

:root {
	--fonts: 4rem;
	--color1: #03e9f4; 
	--color2: #162789; 
	--color3: #FC007A; 
	--font-weight: 600;
	--colg: 5rem;
	--rowg: 1rem;
	--border: 3rem;
	counter-reset: headings;
}


/* Style the header */
.header {
	place-items: center;
	grid-area: header;
	background: linear-gradient(#162789, #03e9f4);
	text-align: center;
	font-size: var(--font-size);
}


body {
	background-color: #03e9f4;
	font-family: Arial, Helvetica, Sans-serf;
	background-position: center;
	min-width: 20.5rem;
}



h1 {
	counter-increment: headings;
	font-size: var(--fonts);
	margin: auto;
	padding: auto;
}


h2 {
	font-size: calc(var(fonts) - 2);
}


iframe {
	width: 20vw;
	height: 15vw;
	border: none;
	border-radius: 0.5rem;
}


option, select {
	color: #313131;
	border-radius: var(--border);
	font-size: calc(var(--fonts) - 3);
	font-weight: 500;
	background: transparent;
	padding: 0.3rem 0.3rem;
}


p {
	background: transparent;
	text-align: left;
	outline: none;
	color: #fff;
	font-size: calc(var(--fonts) - 3);
}


tr, td {
	text-align: center;
	padding: 0.25rem 0.5rem;
	padding: 0.25rem 0.5rem;
}


tbody:nth-child(even) {
	border-color: 2rem solid var(--color2);
	border-radius: 0.5rem;
	background: linear-gradient(270deg, var(--color3), var(--color1));
}


/*-----------------------------------------------------------------------------
					 Starting to edit the elements of the page.
------------------------------------------------------------------------------*/
.box-right {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 3rem;
}

#clear {
	margin: 2rem 0rem;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
	column-gap: var(--colg);
	row-gap: var(--rowg);
	padding: 0 10vw;
}

.grid-row-span-2 {
	grid-row: span 3;
}

.IO {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.insertion_left, .box-right, .result-left {
	padding: 2rem 2rem;
	font-size: 1rem;
	font-weight: 600;
	background: rgba(255, 255, 255,.2);
	box-sizing: border-box;
	box-shadow: 0 0.08rem 3.2rem 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 0.8rem);
	border-radius: 1rem;
	border: 0.1rem solid rgba(255, 255, 255, 0.18);
}

#metric {
	margin-left: 15rem;
}

.press {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

/*-----------------------------------------------------------------------------
					 This is the div to estimate input
------------------------------------------------------------------------------*/
input, select {
	font-size: 1rem;
	font-weight: 550;
	background: transparent;
	text-align: center;
	border-radius: 3rem;
	outline: none;
	border: 0.01rem solid #fff;
	color: #fff;
}

#input_code {
	min-width: 9.6rem;
	font-size: 1rem;
}

#input_estimate {
	min-width: 10.5rem;
	font-size: 1rem;
}

/*-----------------------------------------------------------------------------
					 This is the form to input data.
------------------------------------------------------------------------------*/
.code .sizes, input {
	background: transparent;
	width: 3em;
	font-weight: 1rem;
	text-align: center;
	border-radius: 0.3rem;
	padding: 0.01rem 1rem 0 0;
	outline: none;
	border: none;
	border: 0.01rem solid #fff;
	margin-bottom: 2rem;
}

.code .sizes, label {
	position: relative;
	padding: -10px 5px 5px 5px;
	color: #fff;
}

.code .sizes, input:focus {
	top: -1rem;
	left: 0;
	color: #fff;
	font-size: 1.2rem;
}

/*-----------------------------------------------------------------------------
								Buttons setup
------------------------------------------------------------------------------*/
/* Main button */
mark {
	background-color: Red;
}

.button:hover::before {
	transform:translateX(30rem) skew(-20deg);
}

.button:hover {
	background: red;
	transition: all 0.3s;
}

.button::before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: -7rem;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		90deg, transparent, #ffffff75,
		transparent
	);
	transition: all 3s;
	z-index: -1;
	transform: translateX(-12rem) skew(-20deg);
}

.button {
	background: transparent;
	box-sizing: border-box;
	box-shadow: 0 1.05rem 2.05rem rgba(0,0,0,.6);
	border-radius: 0.4rem;
	border: transparent;
	position: absolute;
	border-radius: 50%;
	transition: all 0.3s;
	cursor: pointer;
	overflow: hidden;
	z-index: 0;
	text-transform: uppercase;
	padding: 2.1rem 1.2rem;
}

.button:active{
	box-shadow: 0 0;
}

.crate_btn {
	width: 8rem;
	height: 8rem;
}

.shape_btn {
	cx: 4rem;
	cy: 4rem;
	r: 3rem;
	stroke: Red;
	stroke-width: 0.5rem;
	fill: yellow;
}

/* Add button style */
.set_btn:hover {
	background: transparent;
	border: transparent;
}

.set_btn {
	color: #fff;
	margin: 2rem 2rem;
	padding: 1rem 3rem;
	background: transparent;
	border: transparent;
	border-radius: 1rem;
	box-shadow: 0 1.05rem 2.05rem rgba(0,0,0,.2);
	font-weight: 700;
	font-size: 1.5rem;
}

.set_btn:active {
	box-shadow: 0 0 0 0;
	transform: translateY(0.1rem);
}

.press_btn {
	display: flex;
	flex-grow: 0.5rem;
	flex-wrap: wrap;
	flex-basis: 0.5rem;
	flex-shrink: 0.5rem;
	justify-content: space-around;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding: 0 0.5rem;
}

#input_len, #input_dep, #input_hig {
	margin-right: 1rem;
}

#clear {
	margin-top: 4rem;
}


/*-----------------------------------------------------------------------------
								Add works pane
------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------
								Responsive settings
------------------------------------------------------------------------------*/
@media only screen and (max-width: 1990px) {
	iframe {
		width: 15vw;
		height: 15vw;
		border: none;
		border-radius: 0.5rem;
	}
	#metric {
		margin-left: 10rem;
	}
}


@media only screen and (max-width: 880px) {
	.grid-container, .press {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
		padding: 0 1vw;
	}
	iframe {
		width: 35vw;
		height: 80vw;
	}
	.metric {
		padding-left: 1rem;
		margin: 0 0 2rem 0;
	}
	.box-right {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		column-gap: 5rem;
	}
	#metric, #metrica {
		margin: 0rem 1rem 2rem 0rem;
	}
	.grid-row-span-2 {
		grid-row: span 1;
	}
}

@media only screen and (max-width: 1720px) {
	iframe {
		width: 35vw;
		height: 19vw;
		border: none;
		border-radius: 0.5rem;
	}
	#metric {
		margin-left: 5rem;
	}
}
