/* ╭─────────────────────────────────────────────────────────╮
   │              Here is the Global settings.               │
   ╰─────────────────────────────────────────────────────────╯
*/

@import "responsive_sheet.css";
@import "index-01.css";
@import "https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100;200;300;400;500;600;700;800;900&family=Mitr:wght@200;300;400;500;600;700&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap";


*, *::before, *::after {
	box-sizing: inherit;
}


:root {
	--font-title: 13rem;
	--fonts: 4rem;
	--color1: #03e9f4;
	--color3: #FC007A;
	--color4: #FFF;
	--color5: #333;
	--color6: #00ff00;
	--color7: #6B3A00;
	--color8: #B80056;
	--light-blue1: #CCDBDC;
	--light-blue2: #9AD1D4;
	--light-blue3: #80CED7;
	--dark-blue: #00547A;
	--dark-blue1: #003852;
	--dark-blue2: #002A3D;
	--font-weight: 600;
	--colg: 3rem;
	--colg-mobile: 1rem;
	--rowg: 3rem;
	--rowg-mobile: 1rem;
	--bord: .5rem;
	--background-transp: #ffffff33;
	--gradient: linear-gradient(270deg, var(--dark-blue), var(--dark-blue2));
	--gradient1: linear-gradient(90deg, var(--dark-blue1), var(--dark-blue));
	--shadow1: .3rem .3rem .6rem var(--iframes-bg),
		-.2rem -.2rem .5rem var(--color4);
	--inner-shadow: inset .2rem .2rem .5rem var(--pressed),
		-.2rem -.2rem .5rem var(--iframes-bg);
	--inner-panel: inset .2rem .2rem .5rem var(--iframes-bg),
		-.2rem -.2rem .5rem var(--dark-blue2);

	/* main setup */
	--bg-clr: #BEBBBB;
	--iframes-bg: #96979C;
	--add-col: #0B8325;
	--mesure: #2DD751;
	--result-col: #BF5E30;
	--dark: #121113;
	--back-gray: #222725;
	--menu-col: #00C2DD;
	--pressed: #77797E;
}


:focus::afater {
	-webkit-transform: scaleX(1);
	transform:scaleX(1);
	background:var(--gradient);
	box-shadow: var(--shadow1);
}


body {
	box-sizing: border-box;
	background-color: var(--bg-clr);
	font-family: Saira Semi Condensed, Mitr, sans-serif;
	font-size: 0.8rem;
	background-position: center;
	scroll-behavior: slow;
	color-scheme: light;
	--txt-clr: var(--iframes-bg);
}


body.dark {
	--bg-clr: var(--back-gray);
	--txt-clr: var(--color4);
}


h2 {
	font-size: calc(var(fonts) - 2);
}


h1, h2, h3 {
	color: var(--color4);
	opacity: 50%;
}


iframe {
	text-align: center;
	border: .05rem solid var(--iframes-bg);
	border-radius: 2rem;
	transition: 500ms ease-in-out;
	animation-name: fill-pane;
	animation-fill-mode: both;
	animation-delay: 1s;
}


iframe:hover {
	border: none;
	box-shadow: var(--shadow1);
}


iframe:focus-within {
	outline: 2px solid var(--dark-blue);
}


p {
	background: transparent;
	text-align-last: justify;
	line-height: 1rem;
	font-size: .7rem;
	font-family: 'Mitr', sans-serif;
	font-weight: 500;
	color: var(--back-gray);
	opacity: .5;
}


ul, li, a {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}


input{
	box-shadow: var(--inner-shadow);
	background: transparent;
	border-radius: .3rem;
	outline: none;
	border: transparent;
	outline: none;
	border-bottom: .05rem solid var(--color4);
	border-right: .05rem solid var(--color4);
}


input {
	text-align: center;
	font-family: Mitr, sans-serif;
	font-size: .9rem;
	font-weight: 400;
	color: #fff;
}


tr, td, th {
	text-align: center;
	padding: .1rem .3rem;
	border-radius: 0.3rem;
	color: var(--pressed);
	counter-increment: works-count;
	font-family: Saira Semi Condensed, sans-serif;
	font-weight: 500;
}


tbody:nth-child(even) {
	background: var(--light-blue1);
	text-align: center;
	border-radius: var(--bord);
	border: 5rem solid var(--color4);
	counter-reset: works-count;
	& {
		counter-increment: counter(works-count);
		--r_height: works-count;
	}
}


::-webkit-scrollbar {
	width: 1rem;
}


::-webkit-scrollbar-track {
	background: white;
	border-radius: 100vw;
	margin-block: 0.2rem;
}


::-webkit-scrollbar-thumb {
	background: var(--color1);
	border-radius: 100vw;
	border: .3rem solid white;
	margin-block: 0.2rem;
}


/* ╭──────────────────────────────────────────────────────────╮
   │                  Panel's div settings.                   │
   ╰──────────────────────────────────────────────────────────╯
*/

.table,
.crates-only,
.crates-opened {
	display: flex;
	align-items: center;
	justify-content: center;
	animation: fill-pane 1s linear;
	transition: all .3s ease-in-out;
}


.crates-opened > tbody{
	counter-increment: counter(works-count);
	--r_height: calc(1rem * works-count);
}


@keyframes fill-pane {
	0% {
		opacity: 0;
	}
	50% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}

/* ╭──────────────────────────────────────────────────────────╮
   │        Starting to edit the elements of the page.        │
   ╰──────────────────────────────────────────────────────────╯
*/

/* Box shape */
.container__insert,
.container__status,
.result-left,
.result,
.menu {
	padding: 2rem 2rem;
	font-size: 1rem;
	font-weight: 600;
	box-sizing: border-box;
	box-shadow: var(--shadow1);
	border-radius: 2rem;
}


span[data-popup]::after {
	content: attr(data-popup);
	position: absolute;
	color: var(--color4);
	font-size: .7rem;
	cursor: pointer;
}


.IO__add--form:hover {
	box-shadow: var(--shadow1);
}


.IO__add--form > input + label,
span + input {
	margin-left: .5rem;
}

/* ╭──────────────────────────────────────────────────────────╮
   │                     Status container                     │
   ╰──────────────────────────────────────────────────────────╯
*/


.container__status__counter {
	border-radius: 1rem;
	padding: 0 .6rem;
	border: .1rem solid var(--iframes-bg);
	box-sizing: border-box;
	transition: .7s ease-in-out;
}


.container__status__counter > p {
	border-radius: 1rem;
	padding: .1rem .3rem;
	border: .1rem solid var(--iframes-bg);
	box-sizing: border-box;
}


.container__status__counter:hover > p {
	border-radius: 1rem;
	box-shadow: var(--shadow1);
	transition: .5s ease-in-out;
}

/* ╭──────────────────────────────────────────────────────────╮
   │                     Container bottom                     │
   ╰──────────────────────────────────────────────────────────╯
*/


.container-bottom {
	grid-column: span 2;
}


.container-bottom {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	column-gap: var(--colg);
	row-gap: var(--rowg);
	width: 100%;
	height: 100%;
}

/* ╭──────────────────────────────────────────────────────────╮
   │                       Result pane                        │
   ╰──────────────────────────────────────────────────────────╯
*/

.menu__search {
	margin-top: .5rem;
}


.container__results {
	display: flex;
	flex-basis: 100%;
	flex-direction: row;
	gap: 2.5rem;
}


.container__results div > button {
	margin: .5rem 0 0 6rem;
}


.result--panels div > iframe {
	display: flex;
	height: 15rem;
	content: var(--r_height);
	animation-name: fill-pane;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}


.container--span {
	grid-column: span 2;
}


.copy-message {
	position: absolute;
	margin: -5rem 0rem 0rem -.5rem;
}


.copy-message {
	visibility: hidden;
	color: var(--add-col);
	font-size: 1rem;
	transition: 3s ease-out;
}


.copy:active > .copy-message {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* ╭──────────────────────────────────────────────────────────╮
   │                   Popup hover settings                   │
   ╰──────────────────────────────────────────────────────────╯
*/

.IO__sizes--popup {
	visibility: hidden;
	border-radius: var(--bord);
	color: var(--color4);
	padding: .1rem .3rem;
	position: absolute;
	margin-top: .2rem;
	margin-left: .7rem;
}


.IO__sizes--popup,
.menu__option--text {
	font-family: Mitr, sans-serif;
	font-size: 1rem;
	font-weight: 400;
}

label:hover + .IO__sizes--popup {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 2s;
}


@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


/* ╭──────────────────────────────────────────────────────────╮
   │                      Buttons setup                       │
   ╰──────────────────────────────────────────────────────────╯
*/

.IO__press,
.IO__add--form {
	display: flex;
	justify-content: space-between;
}


/* ADD button style */
.IO__press--btn {
	color: var(--color4);
	padding: .5rem 2.5rem;
	background: transparent;
	border: 0;
	border-radius: .8rem;
	cursor: pointer;
	transition: transform .3s ease-in-out;
	opacity: .6;
	&:hover {
		transition: all .5s ease-in-out;
		transform: translateY(.1rem);
		border-bottom: .05rem solid var(--color4);
		border-right: .05rem solid var(--color4);
		box-shadow: var(--shadow1);
	}
	&:active {
		box-shadow: var(--inner-shadow);
		transition: all .5s ease-in-out;
	}
}


.IO__press--btn {
	font-family: Saira Semi Condensed, sans-serif;
	font-weight: 700;
	font-size: 1rem;
	transition: all 1s ease;
}


.add--btn, .del--btn, .clear--btn {
	outline: 0;
}


.add--btn:focus-within {
	outline: 3px solid var(--color6);
	outline-offset: 2px;
}

.del--btn:focus-within {
	outline: 3px solid var(--color8);
	outline-offset: 2px;
}

.clear--btn:focus-within {
	outline: 3px solid var(--color4);
	outline-offset: 2px;
}

/* ╭──────────────────────────────────────────────────────────╮
   │                       Crate button                       │
   ╰──────────────────────────────────────────────────────────╯
*/

.IO__crate {
	/* outline: 0; */
	&:focus-within {
		outline: 3px solid goldenrod;
		outline-offset: 2px;
	}
	&:hover {
		transform: translateY(.1rem);
		background: goldenrod;
		box-shadow: var(--shadow1);
		border: .5rem solid var(--color8);
		transition: all .5s ease-in-out;
	}
	&:active {
		transition: .5s ease-in-out;
		box-shadow: var(--inner-shadow);
		transition: .3s ease-in-out;
		background: red;
	}
}


.IO__press__crate {
	display: grid;
	place-items: center;
}


.IO__crate__txt {
	display: grid;
	place-items: center;
	opacity: 100%;
}


.crate-popup {
	visibility: hidden;
	position: initial;
	z-index: 20;
}


.IO__crate:hover + .crate-popup {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 2s;
}


.IO__crate:hover::before {
	transform: translateX(30rem) skew(-20deg);
}


.IO__crate::before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: -7rem;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		90deg, transparent, #ffffff75,
		transparent
	);
	transition: all 3s;
	z-index: -1;
	transform: translateX(-12rem) skew(-20deg);
}


.IO__crate {
	background: var(--bg-clr);
	box-sizing: border-box;
	border: var(--iframes-bg);
	border-radius: 50%;
	box-shadow: var(--inner-shadow);
	position: absolute;
	transition: all 0.3s ease;
	cursor: pointer;
	overflow: hidden;
	z-index: 10;
	text-transform: uppercase;
	width: 6rem;
	height: 6rem;
	text-decoration: underline;
	text-underline-offset: .09rem;
	color: var(--color3);
}


.IO__crate > p {
	color: var(--color3);
	font-size: 1rem;
	font-family: Mitr, sans-serif;
	font-weight: 500;
	text-decoration: underline;
	text-underline-offset: -.8rem;
	opacity: .6;
}


.IO__crate--shadow1,
.IO__crate--shadow2 {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	border-radius: 50%;
	z-index: -10;
	width: 6.7rem;
	height: 6.7rem;
	filter: blur(1px);
}


.IO__crate--shadow1 {
	box-shadow: .3rem .3rem .6rem var(--iframes-bg),
	-.2rem -.2rem .5rem white;
	background: linear-gradient(
		to bottom right,
		var(--color4) 0%,
		var(--backgroud) 100%
	);
	transition: all .2s linear;
	animation: waves 2000ms linear infinite;
	cursor: pointer;
	/* animation-play-state: var(--state, paused); */
}


.IO__crate--shadow2 {
	box-shadow: .3rem .3rem .6rem var(--iframes-bg),
	-.2rem -.2rem .5rem white;
	background: linear-gradient(
		to bottom right,
		var(--backgroud) 0%,
		var(--color4) 100%
	);
	transition: all .2s linear;
	animation: waves 2000ms linear 1000ms infinite;
	cursor: pointer;
	/* animation-play-state: var(--state, paused); */
}


@keyframes waves {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.5);
		opacity: 0;
	}
}
/* ╭──────────────────────────────────────────────────────────╮
   │                      This is the div menu                │
   ╰──────────────────────────────────────────────────────────╯
*/

.menu {
	display: flex;
	flex-direction: column;
	isolation: isolate;
}


.menu {
	background: transparent;
	border-color: var(--menu-col);
	padding: .7rem;
	inset: 0;
}


.menu__option--text {
	font-weight: 400;
	box-shadow: var(--shadow1);
	visibility: hidden;
	border-radius: var(--bord);
	border-bottom: .05rem solid var(--color4);
	border-right: .05rem solid var(--color4);
	color: var(--color4);
	padding: 0.3rem 1rem;
	position: absolute;
	/* FIX: use revese position like the Keven's video. */
	margin: -2.7rem 0 0 4rem;
	overflow: hidden;
	max-width: 80ch;
	transition: .9s ease-in-out;
}


.menu + .menu {
	margin-top: 1rem;
}


.accordion-panel > h3{
	cursor: pointer;
	margin: 0;
}


.accordion-panel:has([aria-expanded="true"]) .menu-icon {
	box-shadow: var(--shadow1);
	cursor: pointer;
	background: var(--menu-col);
	fill: var(--__icon-color);
}


.accordion-panel:has([aria-expanded="true"]) {
	flex-basis: clamp(9rem, 35vh, 18rem);
	--input-menu-radius: 2rem;
	--input-menu-margin: 1rem;
	--input-menu-border: .1rem solid var(--iframes-bg);
	--input-menu-display: true;
	--input-menu-paddin-units: 1.5rem 1.5rem;
	--input-menu-units-radius: .5rem;
	--input-menu-units-width: 6rem;
	--input-menu-units-height: 2rem;
}


.exchange--content:hover {
	border-radius: 2rem;
	box-shadow: var(--shadow1);
	transition: .5s ease-in-out;
}


.trigger-menu {
	position: inherit;
	background: transparent;
	border-radius: 50%;
	padding: .1rem;
	border: none;
	box-shadow: var(--inner-shadow);
	transition: all .5s ease-in-out;
	z-index: 10;
}


.trigger-menu:active {
	display: flex;
	gap: 1rem;
	box-shadow: var(--inner-shadow);
	transition: .5s ease-in-out;
}


.menu-icon {
	box-shadow: var(--inner-shadow);
	background: transparent;
	width: 3rem;
	padding: .5rem;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	border: var(--inner-shadow);
	transition: .5s ease-in-out;
}


.trigger-menu:hover, .menu-icon:hover {
	box-shadow: var(--shadow1);
	cursor: pointer;
	background: var(--menu-col);
	fill: var(--__icon-color);
	&:focus-within {
		outline: 3px solid var(--__icon-color);
	}
}

.trigger-menu {
	outline: 0;
}


.accordion-panel:nth-child(1) {
	--__icon-color: var(--light-blue1);
}


.accordion-panel:nth-child(2) {
	--__icon-color: var(--color6);
}


.accordion-panel:nth-child(3) {
	--__icon-color: yellow;
}


.trigger-menu:hover + .menu__option--text {
	visibility: visible;
	transition: all .5s ease-in-out;
	-webkit-animation: fadeIn 2s;
	animation: fadeIn 1.5s linear;
}


.menu__input {
	border-radius: var(--input-menu-radius, 0);
	margin: var(--input-menu-margin, 0);
	border: var(--input-menu-border, 0);
	transition: padding 500ms 250ms ease-in-out,
		transform 1s linear;
}


/* ╭──────────────────────────────────────────────────────────╮
   │                  Menu Units & Currency.                  │
   ╰──────────────────────────────────────────────────────────╯
*/

.menu__units, .menu__currency {
	display: flex;
	flex-wrap: wrap;
	flex-direction: flex-start;
	justify-content: space-evenly;
	gap: var(--input-menu-margin);
}


.menu__input--form {
	display: var(--input-menu-display, none);
	width: var(--input-menu-units-width, 0);
}


.menu__input {
	padding: var(--input-menu-paddin-units, 0);
}


.menu__units > select,
.menu__currency > select {
	display: var(--input-menu-display, none);
	width: var(--input-menu-units-width, 0);
	border-radius: var(--input-menu-units-radius, 0);
	text-align: center;
	background: transparent;
	height: var(--input-menu-units-height, 0);
	box-shadow: var(--shadow1);
	font-weight: 700;
}


/* ╭──────────────────────────────────────────────────────────╮
   │                   Menu fetch estimate.                   │
   ╰──────────────────────────────────────────────────────────╯
*/
.menu__fetch {
	display: flex;
	justify-content: center;
	align-self: center;
	flex-direction: column;
}


.get__estimate {
	display: var(--input-menu-display, none);
	width: auto;
	height: auto;
	border-bottom: .05rem solid var(--color4);
	border-right: .05rem solid var(--color4);
}


.menu__search-btn {
	display: var(--input-menu-display, none);
	margin-top: var(--input-menu-margin);
	padding: auto;
}

.get__currency, .get__measure {
	flex-grow: 2;
	color: var(--back-gray);
}


/* ╭──────────────────────────────────────────────────────────╮
   │            This is the div to estimate input             │
   ╰──────────────────────────────────────────────────────────╯
*/

.info + .info {
	margin: 1rem 0 0 0;
}

.IO--span2 ~ .IO--span2 {
	margin: 2.5rem 0 0 0;
}


label + input {
	margin-left: .5rem;
}


.IO label {
	cursor: pointer;
}




/* ╭────────────────────────────────────────────────────────╮
   │                    Metric selectors.                   │
   ╰────────────────────────────────────────────────────────╯
*/

.IO__sizes__units {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	&:hover {
		border: none;
		box-shadow: var(--shadow1);
	}
}


.IO__sizes__units {
	width: 6rem;
	height: 2.8rem;
	border: .1rem solid var(--iframes-bg);
	border-radius: 1rem;
	transition: .5s ease;
}


.IO__sizes__units > input:checked + label {
	transition: all .5s ease;
	color: var(--color4);
	z-index: 5;
}


.IO__sizes__units--seg1, .IO__sizes__units--seg2 {
	display: flex;
	align-items: center;
	position: relative;
}


.IO__sizes__units--seg1, .IO__sizes__units--seg2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 1rem;
	font-size: 1rem;
	align-items:center;
	cursor: pointer;
	color: var(--iframes-bg);
	transition: all 5s ease;
}


.cm, .in {
	padding: .1rem .1rem;
	margin: .1rem .1rem;
	display: none;
}


.IO__sizes--color {
	position: absolute;
	width: 2.2rem;
	height: 1.9rem;
	margin-right: 2.7rem;
	border-radius: .3rem;
	box-shadow: var(--inner-shadow);
	pointer-events: none;
	background: var(--menu-col);
	border-bottom: .05rem solid var(--color4);
	border-right: .05rem solid var(--color4);
}


.cm:checked ~ .IO__sizes--color {
	transform: translateX(0);
	transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
}


.in:checked ~ .IO__sizes--color {
	transform: translateX(2.6rem);
	transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
}


/* ╭──────────────────────────────────────────────────────────╮
   │             This is the form to input data.              │
   ╰──────────────────────────────────────────────────────────╯
*/

.IO__sizes__mesure {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


input {
	width: 3rem;
	transition: .5s ease-in-out;
	&:focus {
		left: 0;
		color: var(--color4);
		font-size: 1rem;
	}
}


label {
	position: relative;
	color: var(--iframes-bg);
	font-size: .8rem;
}
