
:root {
	--fonts: 4rem;
	--color1: #03e9f4; 
	--color2: #162789; 
	--color3: #FC007A; 
	--color4: #FFF; 
	--color5: #333;
	--color6: #00ff00;
	--color7: #6B3A00;
	--color8: #1F1100;
	--light-blue1: #CCDBDC;
	--light-blue2: #9AD1D4;
	--light-blue3: #80CED7
	--dark-blue: #003249;
	--font-weight: 600;
	--colg: 5rem;
	--rowg: 3rem;
	--bord: .3rem;
	--background-transp: #ffffff33;
	--gradient: linear-gradient(270deg, var(--color3), var(--color1));
	--shadow1: .3rem .3rem .6rem var(--light-blue2),
		-.2rem -.2rem .5rem var(--color4);
	--inner-shadow: inset .2rem .2rem .5rem var(--color4),
		-.2rem -.2rem .5rem var(--light-blue2);
}

.header {
	position: relative;
	place-items: center;
	grid-area: header;
	background: var(--gradient);
	text-align: center;
	font-size: var(--font-size);
	height: 10rem;
}
