/* ╭──────────────────────────────────────────────────────────╮
   │              Here is the "Global settings.               │
   ╰──────────────────────────────────────────────────────────╯
*/

*, *::before, *::after {
	box-sizing: inherit;
}


:root {
	--font-title: 13rem;
	--fonts: 4rem;
	--color1: #03e9f4;
	--color3: #FC007A;
	--color4: #FFF;
	--color5: #333;
	--color6: #00ff00;
	--color7: #6B3A00;
	--light-blue1: #CCDBDC;
	--light-blue2: #9AD1D4;
	--light-blue3: #80CED7;
	--dark-blue: #00547A;
	--dark-blue1: #003852;
	--dark-blue2: #002A3D;
	--font-weight: 600;
	--colg: 3rem;
	--rowg: 3rem;
	--bord: .5rem;
	--background-transp: #ffffff33;
	--gradient: linear-gradient(270deg, var(--dark-blue), var(--dark-blue2));
	--gradient1: linear-gradient(90deg, var(--dark-blue1), var(--dark-blue));
	--shadow1: .3rem .3rem .6rem var(--iframes-bg),
		-.2rem -.2rem .5rem var(--color4);
	--inner-shadow: inset .2rem .2rem .5rem var(--pressed),
		-.2rem -.2rem .5rem var(--iframes-bg);
	--inner-panel: inset .2rem .2rem .5rem var(--iframes-bg),
		-.2rem -.2rem .5rem var(--dark-blue2);

	/* main setup */
	--backgroud: #B1B2BBBB;
	--iframes-bg: #96979C;
	--add-col: #0B8325;
	--mesure: #2DD751;
	--result-col: #BF5E30;
	--dark: #121113;
	--back-gray: #222725;
	--menu-col: #00C2DD;
	--pressed: #77797E
}


:focus::afater {
	-webkit-transform: scaleX(1);
	transform:scaleX(1);
	background:var(--gradient);
	box-shadow: var(--shadow1);
}


body {
	box-sizing: border-box;
	background-color: #BEBBBB;
	/* font-family: Arial, Helvetica, Sans-serf; */
	font-family: Saira Semi Condensed, Mitr, sans-serif;
	font-size: 0.8rem;
	background-position: center;
	scroll-behavior: slow;
	counter-reset: works-count;
}


h2 {
	font-size: calc(var(fonts) - 2);
}


h1, h2, h3 {
	color: var(--color4);
	opacity: 50%;
}


iframe {
	text-align: center;
	border: .05rem solid var(--iframes-bg);
	border-radius: 2rem;
	transition: .7s ease;
}


iframe:hover {
	border: none;
	box-shadow: var(--shadow1);
}


p {
	background: transparent;
	text-align-last: justify;
	outline: none;
	line-height: 1rem;
	font-size: .8rem;
	font-family: 'Mitr', sans-serif;
	font-weight: 500;
	color: var(--back-gray);
	opacity: .5;
}


ul, li, a {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}


input{
	box-shadow: var(--inner-shadow);
	background: transparent;
	border-radius: .3rem;
	outline: none;
	border: transparent;
	outline: none;
}


input {
	text-align: center;
	font-family: Mitr, sans-serif;
	font-size: .8rem;
	font-weight: 400;
	color: #fff;
}


tr, td, th {
	text-align: center;
	padding: .1rem .3rem;
	border-radius: 0.3rem;
	color: var(--pressed);
	counter-increment: works-count;
	font-family: Saira Semi Condensed, sans-serif;
	font-weight: 500;
}


tbody:nth-child(even) {
	background: var(--light-blue1);
	text-align: center;
	border-radius: var(--bord);
	border: 5rem solid var(--color4);
}


::-webkit-scrollbar {
	width: 1rem;
}


::-webkit-scrollbar-track {
	background: white;
	border-radius: 100vw;
	margin-block: 0.2rem;
}


::-webkit-scrollbar-thumb {
	background: var(--color1);
	border-radius: 100vw;
	border: .3rem solid white;
	margin-block: 0.2rem;
}


/* ╭──────────────────────────────────────────────────────────╮
   │                  Panel's div settings.                   │
   ╰──────────────────────────────────────────────────────────╯
*/

.table,
.crates-only,
.crates-opened {
	display: flex;
	align-items: center;
	justify-content: center;
}


/* ╭──────────────────────────────────────────────────────────╮
   │        Starting to edit the elements of the page.        │
   ╰──────────────────────────────────────────────────────────╯
*/

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	column-gap: var(--colg);
	row-gap: var(--rowg);
	padding: 0 23rem;
	margin: 5rem auto;
}


/* Box shape */
.container__insert,
.container__status,
.result-left,
.result,
.menu {
	padding: 2rem 2rem;
	font-size: 1rem;
	font-weight: 600;
	box-sizing: border-box;
	box-shadow: var(--shadow1);
	border-radius: 2rem;
}


.IO__add--form {
	border: .1rem solid var(--iframes-bg);
	border-radius: 1rem;
	padding: .8rem .5rem;
	width: 60%;
	transition: .5s ease;
}


.IO__add--form:hover {
	border: none;
	box-shadow: var(--shadow1);
}


.IO__add--form > input + label,
span + input {
	margin-left: .5rem;
}

/* ╭──────────────────────────────────────────────────────────╮
   │                     Status container                     │
   ╰──────────────────────────────────────────────────────────╯
*/


.container__status__pane {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 2rem;
	row-gap: 2rem;
}


.container__status__pane__frame {
	grid-row: span 2;
	grid-column: span 2;
	height: 100%;
}


.container__status__counter {
	border-radius: 1rem;
	padding: .5rem .5rem;
	border: .1rem solid var(--iframes-bg);
	transition: .7s ease;
}


.container__status__counter:hover {
	border: none;
	box-shadow: var(--shadow1);
}
/* ╭──────────────────────────────────────────────────────────╮
   │                     Container bottom                     │
   ╰──────────────────────────────────────────────────────────╯
*/


.container-bottom {
	grid-column: span 2;
}


.container-bottom {
	display: grid;
	grid-template-columns: repeat(3, 20.5rem);
	column-gap: var(--colg);
	row-gap: var(--rowg);
}


/* ╭──────────────────────────────────────────────────────────╮
   │                   Popup hover settings                   │
   ╰──────────────────────────────────────────────────────────╯
*/

.IO__sizes--popup {
	visibility: hidden;
	border-radius: var(--bord);
	color: var(--color4);
	padding: .1rem .3rem;
	position: absolute;
	margin-top: .2rem;
	margin-left: .7rem;
}


.IO__sizes--popup,
.menu__option--text {
	font-family: Mitr, sans-serif;
	font-size: .7rem;
	font-weight: 400;
}

label:hover + .IO__sizes--popup {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 2s;
}


@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


/* ╭──────────────────────────────────────────────────────────╮
   │                      This is the div menu                │
   ╰──────────────────────────────────────────────────────────╯
*/

.menu {
	/* background: none; */
	border-color: var(--menu-col);
	margin: 0 auto 1rem auto;
	padding: 0;
}


.menu__option--text {
	visibility: hidden;
	border-radius: var(--bord);
	border-bottom: .05rem solid var(--color4);
	border-right: .05rem solid var(--color4);
	color: var(--color4);
	padding: 0.3rem 1rem;
	position: absolute;
	margin: -3rem 3.5rem 0 0;
	overflow: hidden;
	max-width: 80ch;
}


.menu {
	display: flex;
	flex-direction: row;
	flex-basis: 100%;
}


.exchange {
	height: 65%;
	background: transparent;
}


.currency, .converter, .consult {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	transform: scale(0.5);
}


.currency, .converter, .consult {
	padding: 2rem 2rem;
	position: relative;
}


.currency {
	background: url("./icons/icons8-exchange-64.png");
}


.converter {
	background: url("./icons/icons8-ruler-64.png");
}

.consult {
	background: url("./icons/lupa.png");
}


li:hover + .menu__option--text{
	display: flex;
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}


/* .container__interactive > div { */
/* 	display: flex; */
/* 	flex-basis: 100%; */
/* 	justify-content: space-between; */
/* } */
/*  */
/*  */
/* .container__interactive { */
/* 	margin: auto 5rem; */
/* } */
/*  */
/*  */
/* ╭──────────────────────────────────────────────────────────╮
   │                       Result pane                        │
   ╰──────────────────────────────────────────────────────────╯
*/

tr::before {
	counter-increment: counter(works-count);
}


.result {
	height: 29rem;
}


.container__results {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	justify-content: space-between;
	align-items: stretch;
}


.container__results {
	margin-bottom: 2rem;
	height: calc(100% * 1.14);
}


.container--span {
	grid-column: span 2;
}


.result__copy {
	margin: 1rem auto 0 auto;
	justify-content: space-around;
}

/* ╭──────────────────────────────────────────────────────────╮
   │            This is the div to estimate input             │
   ╰──────────────────────────────────────────────────────────╯
*/

.info + .info {
	margin: 1rem 0 0 0;
}

.IO--span2 ~ .IO--span2 {
	margin: 2.5rem 0 0 0;
}


label + input {
	margin-left: .5rem;
}


.IO label {
	cursor: pointer;
}


.IO__top__estimate {
	width: auto;
}


/* ╭────────────────────────────────────────────────────────╮
   │                    Metric selectors.                   │
   ╰────────────────────────────────────────────────────────╯
*/

.IO__sizes__units {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}


.IO__sizes__units:hover {
	border: none;
	box-shadow: var(--shadow1);
}


.IO__sizes__units {
	width: 6rem;
	height: 2.8rem;
	border: .1rem solid var(--iframes-bg);
	border-radius: 1rem;
	transition: .5s ease;
}


.IO__sizes__units > input:checked + label {
	transition: all .5s ease;
	color: var(--menu-col);
}


.IO__sizes__units--seg1, .IO__sizes__units--seg2 {
	display: flex;
	align-items: center;
	position: relative;
}


.IO__sizes__units--seg1, .IO__sizes__units--seg2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 1rem;
	font-size: 1rem;
	align-items:center;
	cursor: pointer;
	color: var(--iframes-bg);
	transition: all 5s ease;
}


.cm, .in {
	padding: .1rem .1rem;
	margin: .1rem .1rem;
	display: none;
}


#cm #in:hover:focus {
	color: var(--color6);
}


.IO__sizes--color {
	position: absolute;
	width: 2.2rem;
	height: 1.9rem;
	margin-right: 2.7rem;
	border-radius: .3rem;
	box-shadow: var(--inner-shadow);
	pointer-events: none;
}


.cm:checked ~ .IO__sizes--color {
	transform: translateX(0);
	transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
}


.in:checked ~ .IO__sizes--color {
	transform: translateX(2.6rem);
	transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
}


/* ╭──────────────────────────────────────────────────────────╮
   │             This is the form to input data.              │
   ╰──────────────────────────────────────────────────────────╯
*/

.IO__sizes__mesure {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.IO__sizes--code {
	width: auto;
}


input {
	width: 3rem;
	transition: .4s ease;
}


label {
	position: relative;
	color: var(--iframes-bg);
	font-size: .8rem;
}


input:focus {
	left: 0;
	color: var(--color4);
	font-size: 1rem;
	box-shadow: var(--shadow1);
}


/* ╭──────────────────────────────────────────────────────────╮
   │                      Buttons setup                       │
   ╰──────────────────────────────────────────────────────────╯
*/

.IO__press {
	display: flex;
	justify-content: space-between;
}


/* ADD button style */
.IO__press--btn {
	color: var(--color4);
	padding: .5rem 2.5rem;
	background: transparent;
	border: .1rem solid var(--iframes-bg);
	border-radius: .8rem;
	cursor: pointer;
	transition: all .3s ease;
}


.IO__press--btn:hover {
	border: none;
	box-shadow: var(--shadow1);
}


.IO__press--btn:active {
	box-shadow: var(--inner-shadow);
}


.IO__press--btn {
	font-family: Saira Semi Condensed, sans-serif;
	font-weight: 700;
	font-size: 1rem;
	transition: all 1s ease;
}


/* ╭──────────────────────────────────────────────────────────╮
   │                       Crate button                       │
   ╰──────────────────────────────────────────────────────────╯
*/
.IO__press__crate {
	display: grid;
	place-items: center;
}


.IO__crate__txt {
	display: grid;
	place-items: center;
	color: black;
	opacity: 100%;
}


.IO__crate:hover::before {
	transform:translateX(30rem) skew(-20deg);
}


.IO__crate:hover {
	background: red;
	transition: all 0.3s;
}


.IO__crate::before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: -7rem;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		90deg, transparent, #ffffff75,
		transparent
	);
	transition: all 3s;
	z-index: -1;
	transform: translateX(-12rem) skew(-20deg);
}


.IO__crate {
	background: goldenrod;
	box-sizing: border-box;
	box-shadow: 0 1.05rem 2.05rem #00000099;
	border-radius: 100%;
	border: transparent;
	position: absolute;
	border-radius: 50%;
	transition: all 0.3s ease;
	cursor: pointer;
	overflow: hidden;
	z-index: 10;
	text-transform: uppercase;
	width: 6rem;
	height: 6rem;
}


.IO__crate > p {
	font-size: 1rem;
	font-family: Saira Semi Condensed, sans-serif;
	font-weight: 700;
}


.IO__crate:active {
	box-shadow: var(--inner-shadow);
}


.IO__press__crate--btn, 
.IO__crate--shadow1,
.IO__crate--shadow2 {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	border-radius: 50%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
	z-index: -1;
	width: 6rem;
	height: 6rem;
	filter: blur(1px);
}


.IO__crate--shadow1 {
	box-shadow: .3rem .3rem .6rem var(--light-blue2),
	-.2rem -.2rem .5rem white;
	background: linear-gradient(to bottom right, var(--color3) 0%, var(--back-gray) 100%);
	transition: all .2s linear;
	animation: waves 2000ms linear infinite;
}


.IO__crate--shadow2 {
	box-shadow: .3rem .3rem .6rem var(--light-blue2),
	-.2rem -.2rem .5rem white;
	background: linear-gradient(
		to bottom right,
		var(--light-blue3) 0%,
		var(--color1) 100%
	);
	transition: all .2s linear;
	animation: waves 2000ms linear 1000ms infinite;
}


.IO__press__crate--btn {
	width: 6.8rem;
	height: 6.8rem;
}


.IO__crate--shape {
	position: absolute;
	cx: 4rem;
	cy: 4rem;
	r: 5rem;
	stroke-width: 0.75rem;
	fill: var(--color3);
	filter: blur(1px);
}


@keyframes waves {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.5);
		opacity: 0;
	}
}
