/* ╭──────────────────────────────────────────────────────────╮
   │              Here is the "Global settings.               │
   ╰──────────────────────────────────────────────────────────╯
*/

*, *::before, *::after {
	box-sizing: inherit;
}


:root {
	--fonts: 4rem;
	--color1: #03e9f4;
	--color2: #162789;
	--color3: #FC007A;
	--color4: #FFF;
	--color5: #333;
	--color6: #00ff00;
	--color7: #6B3A00;
	--color8: #1F1100;
	--light-blue1: #CCDBDC;
	--light-blue2: #9AD1D4;
	--light-blue3: #80CED7
	--dark-blue: #003249;
	--dark-blue1: #004666;
	--font-weight: 600;
	--colg: 5rem;
	--rowg: 3rem;
	--bord: .3rem;
	--background-transp: #ffffff33;
	--gradient: linear-gradient(270deg, var(--color3), var(--color1));
	--gradient1: linear-gradient(90deg, var(--dark-blue1), var(--dark-blue));
	--shadow1: .3rem .3rem .6rem var(--light-blue2),
		-.2rem -.2rem .5rem var(--color4);
	--inner-shadow: inset .2rem .2rem .5rem var(--color4),
		-.2rem -.2rem .5rem var(--light-blue2);
}


:focus::afater {
	-webkit-transform: scaleX(1);
	transform:scaleX(1);
	background:var(--gradient);
}


body {
	box-sizing: border-box;
	/* background-color: var(--dark-blue); */
	background-color: var(--dark-blue1);
	font-family: Arial, Helvetica, Sans-serf;
	font-size: 0.8rem;
	background-position: center;
	scroll-behavior: slow;
}


h1 {
	counter-increment: headings;
	font-size: var(--fonts);
	margin: auto;
	padding: auto;
}


h2 {
	font-size: calc(var(fonts) - 2);
}


h1, h2 {
	color: var(--color4);
}


iframe {
	border: none;
	border-radius: 0.5rem;
}


p {
	background: transparent;
	text-align: left;
	outline: none;
	color: var(--color4);
	font-size: calc(var(--fonts) - 3);
}


section, ul, li, a {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}


input, select {
	font-size: 1rem;
	font-weight: 550;
	background: transparent;
	text-align: center;
	border-radius: 3rem;
	outline: none;
	border: 0.01rem solid #fff;
	color: #fff;
}


tr, td {
	text-align: center;
	padding: 0.5rem 0.5rem;
	padding: 0.5rem 0.5rem;
	border-radius: 0.3rem;
	color: var(--color4);
}


tbody:nth-child(even) {
	text-align: center;
	border-color: 2rem solid var(--color2);
	border-radius: 5rem;
	background: linear-gradient(270deg, var(--color3), var(--color1));
}


::-webkit-scrollbar {
	width: 1rem;
}


::-webkit-scrollbar-track {
	background: white;
	border-radius: 100vw;
	margin-block: 0.5rem;
}


::-webkit-scrollbar-thumb {
	background: linear-gradient(270deg, var(--color3), var(--color1));
	border-radius: 100vw;
	border: .3rem solid white;
	margin-block: 0.5rem;
}

/* ╭──────────────────────────────────────────────────────────╮
   │        Starting to edit the elements of the page.        │
   ╰──────────────────────────────────────────────────────────╯
*/
.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
	column-gap: var(--colg);
	row-gap: var(--rowg);
	padding: 0 17rem;
}


/* Box shape */
.container__insert, .container__status, .result-left, .result {
	padding: 2rem 2rem;
	font-size: 1rem;
	font-weight: 600;
	background: var(--background-transp);
	box-sizing: border-box;
	box-shadow: 0 0.08rem 3.2rem 0 #1F26875E;
	backdrop-filter: blur( 0.8rem);
	border-radius: 1rem;
	border: 0.1rem solid #FFFFFF2E;
}


/* ╭──────────────────────────────────────────────────────────╮
   │                   Right pane settings.                   │
   ╰──────────────────────────────────────────────────────────╯
*/
.container__status__pane {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 1rem;
}

.clear {
	margin-top: 2rem;
}

.frame-list {
	min-height: 13rem;
	max-width: 40vhw;
	margin-left: -1rem;
}

.IO__top {
	display: flex;
	flex-shrink: 0;
	flex-basis: auto;
	flex-wrap: wrap;
}

.IO__press {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.row-span-2{
	grid-row: span 2;
}

/* ╭──────────────────────────────────────────────────────────╮
   │                   Popup hover settings                   │
   ╰──────────────────────────────────────────────────────────╯
*/
.IO__sizes--popup {
	visibility: hidden;
	border-radius: var(--bord);
	background: linear-gradient(270deg, var(--color3), var(--color1));
	color: var(--color4);
	padding: 0.2rem 0.5rem;
	position: absolute;
	margin: -2rem 0 0 -0.5rem ;
}

label:hover + .IO__sizes--popup {
	visibility: visible;
	display: inline;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
	text-align: end;
}

@-webkit-keyframes fadeIn {
	from { opacity: 0 ;}
	to { opacity: 1; }
}

@keyframes fadeIn {
	from { opacity: 0 ;}
	to { opacity: 1; }
}

/* ╭──────────────────────────────────────────────────────────╮
   │               This is the div to side menu               │
   ╰──────────────────────────────────────────────────────────╯
*/

.menu__option--text {
	visibility: hidden;
	border-radius: var(--bord);
	background: linear-gradient(270deg, var(--color3), var(--color1));
	color: var(--color4);
	padding: 0.3rem 1rem;
	position: absolute;
	margin: -3rem 3.5rem 0 0;
	overflow: hidden;
	max-width: 40ch;
}

.menu {
	font-size: calc(var(--fonts) - 3rem);
	font-weight: 600;
	background: var(--background-transp);
	box-sizing: border-box;
	box-shadow: 0 0.08rem 3.2rem 0 #1F26875E;
	backdrop-filter: blur( 0.8rem);
	border-radius: 1rem;
	border: 0.1rem solid #FFFFFF2E;
}

.menu {
	display: flex;
	flex-shrink: 0;
	flex-basis: auto;
	align-items: center;
	position: fixed;
	margin: 0% 9%;
}

.currency, .converter, .updater, .done, .consult {
	display: block;
	padding: 1.9rem 1.9rem;
	transform: scale(0.5);
	position: center;
}

.currency {
	background: url("./icons/icons8-exchange-64.png");
}

.converter {
	background: url("./icons/icons8-ruler-64.png");
}

.updater {
	background: url("./icons/icons8-update-64.png");
}

.done {
	background: url("./icons/icons8-task-completed-64.png");
}

.consult {
	background: url("./icons/lupa.png");
}

li:hover + .menu__option--text{
	display: flex;
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* ╭──────────────────────────────────────────────────────────╮
   │            This is the div to estimate input             │
   ╰──────────────────────────────────────────────────────────╯
*/
.IO__top > *{
	display: flex;
	justify-content: space-around;
}

.IO__top__estimate {
	width: auto;
	font-size: 1rem;
}

.IO__sizes__code {
	min-width: 9.6rem;
	font-size: 1rem;
	margin-right: 4rem;
}

/* ╭──────────────────────────────────────────────────────────╮
   │                       Result pane                        │
   ╰──────────────────────────────────────────────────────────╯
*/
.container--span {
	grid-column: span 2;
}

.crates-opened tbody {
	counter-reset: works-crated;
}

.container__results {
	display: flex;
	flex-wrap: wrap;
	gap: var(--colg);
}

.container__results, .container__results--open, .container__results--crates {
	flex-shrink: 1;
	flex-grow: 1;
	counter-increment: works-crated;
	height: calc(counter(works-crated) * 1rem);
}


/* ╭──────────────────────────────────────────────────────────╮
   │             This is the form to input data.              │
   ╰──────────────────────────────────────────────────────────╯
*/
.code .IO__sizes, input {
	background: transparent;
	width: 3em;
	font-weight: 1rem;
	text-align: center;
	border-radius: 0.3rem;
	padding: 0.01rem 1rem 0 0;
	outline: none;
	border: none;
	border: 0.1rem solid var(--color4);
	margin-bottom: 2rem;
}

.code .IO__sizes, label {
	position: relative;
	padding: -1em 0.5em 0.5em 0.5rem;
	color: var(--color4);
}

.code .IO__sizes, input:focus {
	top: -1rem;
	left: 0;
	color: var(--color4);
	font-size: 1.2rem;
}


/* ╭──────────────────────────────────────────────────────────╮
   │                      Buttons setup                       │
   ╰──────────────────────────────────────────────────────────╯
*/
/* Main button */
/* Crate button */
.IO__press__crate, .IO__press__crate--btn {
	display: grid;
	place-items: center;
}


.IO__crate__txt {
	display: grid;
	place-items: center;
	color: black;
}

.IO__crate:hover::before {
	transform:translateX(30rem) skew(-20deg);
}

.IO__crate:hover {
	background: red;
	transition: all 0.3s;
}

.IO__crate::before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: -7rem;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		90deg, transparent, #ffffff75,
		transparent
	);
	transition: all 3s;
	z-index: -1;
	transform: translateX(-12rem) skew(-20deg);
}


.IO__crate {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	background: gold;
	box-sizing: border-box;
	box-shadow: 0 1.05rem 2.05rem #00000099;
	border-radius: 100%;
	border: transparent;
	position: absolute;
	border-radius: 50%;
	transition: all 0.3s;
	cursor: pointer;
	overflow: hidden;
	z-index: 10;
	text-transform: uppercase;
	width: 6rem;
	height: 6rem;
}


.IO__crate:active, .IO__press--btn:active {
	box-shadow: var(--inner-shadow);
}


.IO__press__crate--btn, 
.IO__crate--shadow1,
.IO__crate--shadow2 {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	border-radius: 50%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
	z-index: -1;
	width: 6rem;
	height: 6rem;
	filter: blur(1px);
}


.IO__crate--shadow1 {
	box-shadow: .3rem .3rem .6rem var(--light-blue2),
	-.2rem -.2rem .5rem white;
	background: linear-gradient(to bottom right, var(--color3) 0%, var(--color1) 100%);
	transition: all .2s linear;
	animation: waves 2000ms linear infinite;
}


.IO__crate--shadow2 {
	box-shadow: .3rem .3rem .6rem var(--light-blue2),
	-.2rem -.2rem .5rem white;
	background: linear-gradient(to bottom right, var(--light-blue3) 0%, var(--color1) 100%);
	transition: all .2s linear;
	animation: waves 2000ms linear 1000ms infinite;
}


.IO__press__crate--btn {
	width: 6.8rem;
	height: 6.8rem;
}


.IO__crate--shape {
	position: absolute;
	cx: 4rem;
	cy: 4rem;
	r: 5rem;
	stroke-width: 0.75rem;
	fill: var(--color3);
	filter: blur(1px);
}


/* Add button style */
.IO__press--btn {
	color: var(--color4);
	margin: 2rem 2rem 2rem 0;
	padding: 1rem 3rem;
	background: transparent;
	border: transparent;
	border-radius: 1rem;
		box-shadow: .3rem .3rem .6rem var(--light-blue2),
			-.2rem -.2rem .5rem white;
	font-weight: 700;
	font-size: 1.5rem;
}


@keyframes waves {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.5);
		opacity: 0;
	}
}


/* ╭────────────────────────────────────────────────────────╮
   │                    Metric selectors.                   │
   ╰────────────────────────────────────────────────────────╯
*/

.IO__top__units {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
	width: 8rem;
	height: 1.8rem;
	box-shadow: var(--shadow1);
	border-radius: var(--bord);
	margin: 0 auto;
}


.IO__top__units > input:checked + label {
	transition: all .5s ease;
	color: var(--color4);
}


.IO__top__units > input:checked + label {
	transition: all .5s ease;
	color: var(--color4);
}


.IO__top__units--seg1, .IO__top__units--seg2 {
	display: flex;
	align-items: center;
	position: relative;
}


.IO__top__units--seg1, .IO__top__units--seg2 {
	display: flex;
	justify-content: center;
	width: 8rem;
	height: 1rem;
	font-size: 1rem;
	align-items:center;
	cursor: pointer;
	color: var(--light-blue3);
	transition: all 5s ease;
}


.cm, .in {
	padding: .1rem .1rem;
	margin: .1rem .1rem;
	display: none;
}


.cm .in:hover:focus {
	color: var(--color2);
}


.IO__top--color {
	position: absolute;
	width: 3.1rem;
	height: 1.4rem;
	margin-right: 4.1rem;
	border-radius: var(--bord);
	border: .05rem solid var(--color4);
	box-shadow: var(--inner-shadow);
	pointer-events: none;
}


#cm:checked ~ .IO__top--color {
	transform: translateX(0);
	transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
}
#in:checked ~ .IO__top--color {
	transform: translateX(4rem);
	transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
}
