

header {
	position: relative;
	place-items: center;
	grid-area: header;
	background: var(--gradient);
	text-align: center;
	height: 8rem;
	font-family: 'Big Shoulders Stencil Display', cursive;
	overflow: hidden;
	border-radius: 1rem;
}


footer {
	position: relative;
	place-items: center;
	grid-area: header;
	background: var(--gradient1);
	text-align: center;
	height: 8rem;
	font-family: 'Big Shoulders Stencil Display', cursive;
	overflow: hidden;
	border-radius: 1rem;
}


.header--title, .container__footer {
	margin: 0 0;
	font-size: var(--font-title);
	opacity: .05;
}


/* ╭──────────────────────────────────────────────────────────╮
   │                     Header settings:                     │
   ╰──────────────────────────────────────────────────────────╯
*/

.header--title {
	text-align: left;
}


.header-content {
	display: flex;
	justify-content: space-between;
}


/* .logout-btn { */
/* 	border: none; */
/* 	border-radius: 50%; */
/* 	background: var(--bg-clr); */
/* 	padding: .1rem; */
/* 	& { */
/* 		display: flex; */
/* 		justify-content: center; */
/* 	} */
/* } */


.button-logout {
	display: flex;
	/* justify-content: center; */
	margin: 1.5rem 1.5rem 0 0;
}


.logout-icon {
	position: sticky;
	fill: var(--color4);
}

/* ╭──────────────────────────────────────────────────────────╮
   │                     Footer settings:                     │
   ╰──────────────────────────────────────────────────────────╯
*/

.container__footer {
	text-align: right;
}

/* ╭──────────────────────────────────────────────────────────╮
   │                       Light Button                       │
   ╰──────────────────────────────────────────────────────────╯
*/

