/* TODO: link the screen sizes passing through actual min -> next max sizes. */
@media only screen
	and (min-width: 1080px)
	and (max-width: 4000px) {
	/* ╭─────────────────────╮
	   │ 	main container.  │
	   ╰─────────────────────╯
	*/
	.container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		column-gap: var(--colg);
		row-gap: var(--rowg);
		padding: 3% 20%;
		transition: all 2s linear;
	}

	/* ╭───────────────────╮
	   │ 	Spinner setup  │
	   ╰───────────────────╯
	*/
	/* Made by Kailoyan Todorov - from https://uiverse.io/bociKond/wise-bat-13 */
	.spinner {
		width: 10rem;
		height: 10rem;
		--clr: var(--color1);
		--clr-alpha: var(--gradient);
		animation: spinner 3.6s infinite ease;
		transform-style: preserve-3d;
		& > * {
			display:grid;
			place-items: center;
		}

		& > div {
			background-color: var(--clr-alpha);
			height: 100%;
			position: absolute;
			width: 100%;
			border: .2rem solid var(--clr);
		}

		& div:nth-of-type(1) {
			transform: translateZ(-5rem) rotateY(180deg);
		}

		& div:nth-of-type(2) {
			transform: rotateY(-270deg) translateX(50%);
			transform-origin: top right;
		}

		& div:nth-of-type(3) {
			transform: rotateY(270deg) translateX(-50%);
			transform-origin: center left;
		}

		& div:nth-of-type(4) {
			transform: rotateX(90deg) translateY(-50%);
			transform-origin: top center;
		}

		& div:nth-of-type(5) {
			transform: rotateX(-90deg) translateY(50%);
			transform-origin: bottom center;
		}

		& div:nth-of-type(6) {
			transform: translateZ(5rem);
		}
	}


	@keyframes spinner {
		0% {
			transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
		}

		50% {
			transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
		}

		100% {
			transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
		}
	}

	/* ╭────────────────────╮
	   │ 	Boxes loading.  │
	   ╰────────────────────╯
	*/
	/* Made by Nawsome- from : https://uiverse.io/Nawsome/cold-liger-90 */

	.loading {
		z-index: 40;
		margin-top: 20%;
		& {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.boxes {
		--size: 3rem;
		--duration: 800ms;
		height: calc(var(--size) * 2);
		width: calc(var(--size) * 3);
		position: relative;
		transform-style: preserve-3d;
		transform-origin: 50% 50%;
		margin-top: calc(var(--size) * 1.5 * -1);
		transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
	}

	.boxes .box {
		width: var(--size);
		height: var(--size);
		top: 0;
		left: 0;
		position: absolute;
		transform-style: preserve-3d;
	}

	.boxes .box:nth-child(1) {
		transform: translate(100%, 0);
		-webkit-animation: box1 var(--duration) linear infinite;
		animation: box1 var(--duration) linear infinite;
	}

	.boxes .box:nth-child(2) {
		transform: translate(0, 100%);
		-webkit-animation: box2 var(--duration) linear infinite;
		animation: box2 var(--duration) linear infinite;
	}

	.boxes .box:nth-child(3) {
		transform: translate(100%, 100%);
		-webkit-animation: box3 var(--duration) linear infinite;
		animation: box3 var(--duration) linear infinite;
	}

	.boxes .box:nth-child(4) {
		transform: translate(200%, 0);
		-webkit-animation: box4 var(--duration) linear infinite;
		animation: box4 var(--duration) linear infinite;
	}

	.boxes .box > div {
		--background: var(--box);
		--top: auto;
		--right: auto;
		--bottom: auto;
		--left: auto;
		--translateZ: calc(var(--size) / 2);
		--rotateY: 0deg;
		--rotateX: 0deg;
		position: absolute;
		width: 100%;
		height: 100%;
		background: var(--background);
		top: var(--top);
		right: var(--right);
		bottom: var(--bottom);
		left: var(--left);
		transform: 
			rotateY(var(--rotateY))
			rotateX(var(--rotateX))
			translateZ(var(--translateZ));
	}

	.boxes .box > div:nth-child(1) {
		--top: 0;
		--left: 0;
	}

	.boxes .box > div:nth-child(2) {
		--background: var(--box);
		--right: 0;
		--rotateY: 90deg;
	}

	.boxes .box > div:nth-child(3) {
		--background: goldenrod;
		--rotateX: -90deg;
	}

	.boxes .box > div:nth-child(4) {
		--background: var(--back-gray);
		--top: 0;
		--left: 0;
		--translateZ: calc(var(--size) * 3 * -1);
	}

	@-webkit-keyframes box1 {
		0%, 50% {
			transform: translate(100%, 0);
		}

		100% {
			transform: translate(200%, 0);
		}
	}

	@keyframes box1 {
		0%, 50% {
			transform: translate(100%, 0);
		}

		100% {
			transform: translate(200%, 0);
		}
	}

	@-webkit-keyframes box2 {
		0% {
			transform: translate(0, 100%);
		}

		50% {
			transform: translate(0, 0);
		}

		100% {
			transform: translate(100%, 0);
		}
	}

	@keyframes box2 {
		0% {
			transform: translate(0, 100%);
		}

		50% {
			transform: translate(0, 0);
		}

		100% {
			transform: translate(100%, 0);
		}
	}

	@-webkit-keyframes box3 {
		0%, 50% {
			transform: translate(100%, 100%);
		}

		100% {
			transform: translate(0, 100%);
		}
	}

	@keyframes box3 {
		0%, 50% {
			transform: translate(100%, 100%);
		}

		100% {
			transform: translate(0, 100%);
		}
	}

	@-webkit-keyframes box4 {
		0% {
			transform: translate(200%, 0);
		}

		50% {
			transform: translate(200%, 100%);
		}

		100% {
			transform: translate(100%, 100%);
		}
	}

	@keyframes box4 {
		0% {
			transform: translate(200%, 0);
		}

		50% {
			transform: translate(200%, 100%);
		}

		100% {
			transform: translate(100%, 100%);
		}
	}

	/* ╭───────────────────────────╮
	   │ 	Cube footer settings.  │
	   ╰───────────────────────────╯
	*/
	.svg-frame {
		position: relative;
		width: 300px;
		height: 300px;
		transform-style: preserve-3d;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.svg-frame svg {
		position: absolute;
		transition: .5s;
		z-index: calc(1 - (0.2 * var(--j)));
		transform-origin: center;
		width: 344px;
		height: 344px;
		fill: none;
	}

	.svg-frame:hover svg {
		transform: 
		rotate(-80deg)
		skew(30deg)
		translateX(calc(45px * var(--i)))
		translateY(calc(-35px * var(--i)));
	}

	.svg-frame svg #center {
		transition: .5s;
		transform-origin: center;
	}

	.svg-frame:hover svg #center {
		transform: rotate(-30deg) translateX(45px) translateY(-3px);
	}

	#out2 {
		animation: rotate16 7s ease-in-out infinite alternate;
		transform-origin: center;
	}

	#out3 {
		animation: rotate16 3s ease-in-out infinite alternate;
		transform-origin: center;
		stroke: var(--color8);
	}

	#inner3,
	#inner1 {
		animation: rotate16 4s ease-in-out infinite alternate;
		transform-origin: center;
	}

	#center1 {
		fill: var(--color3);
		animation: rotate16 2s ease-in-out infinite alternate;
		transform-origin: center;
	}

	@keyframes rotate16 {
		to {
			transform: rotate(360deg);
		}
	}

	/* ╭─────────────────────────────╮
	   │ 	Right status container.  │
	   ╰─────────────────────────────╯
	*/
	.container__status__pane {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 2rem;
		row-gap: 4rem;
	}


	.container__status__pane__frame {
		grid-row: span 2;
		grid-column: span 2;
		height: 100%;
	}


	.IO__add--form {
		border: .1rem solid var(--iframes-bg);
		border-radius: 1rem;
		padding: .8rem .5rem;
		width: 60%;
		transition: .5s ease;
	}

	.IO__press-mobile * {
		display: none;
	}

	.IO__sizes--code,
	.IO__top__estimate {
		width: auto;
	}

	/* ╭──────────────────────╮
	   │ 	Header settings:  │
	   ╰──────────────────────╯
	*/
	.header--title {
		text-align: left;
	}


	.header-content,
	.section__menu {
		display: flex;
		justify-content: space-between;
	}


	.footer-content {
		display: none;
		&:is([aria-hidden="false"]) {
			display: flex;
			justify-content: space-between;
		}
		& div:nth-of-type(2):has(h3) {
			margin-top: 8rem;
		}
	}

	.layers-btn,
	.logout-btn {
		border: .1rem solid var(--gradient1);
		border-radius: 40%;
		background: var(--inner-shadow);
		width: 2.3rem;
		height: 2.3rem;
		transition: all 500ms ease-in-out;
		cursor: pointer;
		opacity: .9;
		& {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}


	.section-left-up {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		flex-direction: row;
		justify-content: space-around;
		& {
			width: 11%;
			height: 7%;
			margin: 2% 1% 0 81%;
			position: fixed;
		}
		& > * {
			box-shadow: var(--shadow1);
		}
		& .section__menu--btn {
			border-radius: 40%;
		}
		& > .section__menu--btn:active {
			box-shadow: var(--inner-shadow);
		}
	}


	.mode {
		& label > svg {
			fill: var(--color4);
			width: 1rem;
			height: 1rem;
			transition: all 500ms ease-in-out;
			&:hover {
				fill: var(--dark);
			}
		}
	}

	.logout-icon {
		fill: var(--color4);
		width: 1.4rem;
		height: 1.4rem;
		transition: all 500ms ease-in-out;
		&:hover {
			fill: var(--color1);
		}
	}


	/* ╭──────────────────────────────────────────────────────────╮
	   │                   Layer plotter setup.                   │
	   ╰──────────────────────────────────────────────────────────╯
	*/

	.plotter__menu:is([aria-hidden="true"]),
	.plotter:is([aria-hidden="true"]) {
		display: none;
	}

	.plotter:is([aria-hidden="false"]) {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		flex-basis: 100%;
		gap: 1rem;
		& {
			isolation: isolate;
			margin: 0% 20%;
			animation: emerge 2.5s ease;
			animation-fill-mode: forwards;
			transition: all 2s linear;
		}
		.plotter__header {
			display: inherit;
			min-width: 100%;
			align-items: baseline;
			justify-content: space-between;
			flex-basis: 50%;
			& > p {
				font-size: .7rem;
				background: var(--work-hover);
				border: .1rem solid var(--iframes-bg);
				box-shadow: var(--inner-shadow);
				border-radius: 1rem;
				padding: .5rem;
			}
		}
		.layer-button {
			order: 3;
			animation: fade-open 4s ease;
			animation-fill-mode: forwards;
			transition: all 4s linear;
			& button {
				margin: 0 1rem;
			}
			& button > svg {
				rx: 10rem;
				ry: 10rem;
				width: 100%;
				height: 100%;
				fill: var(--color4);
			}
		}
		.crate-layer {
			animation: fade-open 3s ease;
			animation-fill-mode: forwards;
		}
		.crate-layer > * {
			font-family: 'Mitr', sans-serif;
			font-weight: 400;
			font-size: .7rem;
		}
		.crate-layer text {
			font-size: 1rem;
			fill: var(--table-font);
			transition: fill 1.5s ease;
			z-index: - 10;
		}
		.crate-layer rect {
			rx: 2rem;
			ry: 2rem;
			fill: transparent;
			stroke: var(--color8);
		}
		.crate-layer rect:hover {
			fill: var(--work-hover);
			transition: fill 1s ease-in-out;
		}
		.crate-layer {
			padding: .5rem;
			justify-content: center;
			border-radius: 2rem;
			border: .1rem solid var(--iframes-bg);
			box-shadow: var(--inner-shadow);
		}
	}


	.plotter__menu:is([aria-hidden="false"]) {
		display: flex;
		justify-content: center;
		transition: all 3s ease-in;
		& {
			animation: fade-open 5s ease;
			animation-fill-mode: forwards;
		}
		& {
			width: 16%;
			margin: 3% 1% 0 2%;
			position: fixed;
		}
		.plotter__menu__crates {
			display: inherit;
			justify-content: flex-start;
			flex-direction: column;
			& > h3 {
				text-align: center;
				min-width: 100%;
				max-height: 10%;
			}
			& {
				min-width: 100%;
				animation-delay: 15s;
				animation: fade-open 5s ease;
				animation-fill-mode: forwards;
				transition: all 5s;
			}
			.plotter__crate__list {
				display: inherit;
				flex-basis: 100%;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				isolation: isolate;
				& {
					border-radius: 1rem;
					border: .1rem solid var(--iframes-bg);
					box-sizing: border-box;
					padding: .1rem 1rem;
					margin-top: 1rem;
				}
				& div > select option {
					background: var(--color4);
					line-height: 0;
					border: .1rem solid var(--add-col);
					box-shadow: var(--inner-shadow);
					color: var(--iframes-bg);
					border-radius: 1rem;
				}
				& div > select {
					font-family: 'Mitr', sans-serif;
					font-size: .85rem;
					font-weight: 500;
					background: var(--work-hover);
					color: var(--table-font);
					box-shadow: var(--inner-shadow);
					border-radius: 1rem;
					padding: .5rem .3rem;
				}
			}
		}
	}
}


@keyframes fade-open {
	from {
		display:none;
		inset: 0;
		opacity: 0;
		width: 0;
		height: 0;
		transform: translateX(-25%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}


/* ╭──────────────────────────────────────────────────────────╮
   │                    iPhone x portrait                     │
   ╰──────────────────────────────────────────────────────────╯
*/

@media only screen
	and ( min-width: 390px)
	and ( max-width: 840px) {

	header {
		height: 10%;
	}

	footer {
		display: none;
	}

	/* ╭──────────────────────╮
	   │ 	Header settings:  │
	   ╰──────────────────────╯
	*/
	.header--title {
		text-align: left;
	}


	.header-content,
	.section__menu {
		display: flex;
		justify-content: space-between;
	}


	/* ╭───────────────────╮
	   │ 	Spinner setup  │
	   ╰───────────────────╯
	*/
	/* Made by Kailoyan Todorov - from https://uiverse.io/bociKond/wise-bat-13 */
	.spinner {
		width: 4rem;
		height: 4rem;
		--clr: var(--color1);
		--clr-alpha: var(--gradient);
		animation: spinner 3.6s infinite ease;
		transform-style: preserve-3d;
		& > * {
			display:grid;
			place-items: center;
		}

		& > div {
			background-color: var(--clr-alpha);
			height: 100%;
			position: absolute;
			width: 100%;
			border: .2rem solid var(--clr);
		}

		& div:nth-of-type(1) {
			transform: translateZ(-2rem) rotateY(180deg);
		}

		& div:nth-of-type(2) {
			transform: rotateY(-270deg) translateX(50%);
			transform-origin: top right;
		}

		& div:nth-of-type(3) {
			transform: rotateY(270deg) translateX(-50%);
			transform-origin: center left;
		}

		& div:nth-of-type(4) {
			transform: rotateX(90deg) translateY(-50%);
			transform-origin: top center;
		}

		& div:nth-of-type(5) {
			transform: rotateX(-90deg) translateY(50%);
			transform-origin: bottom center;
		}

		& div:nth-of-type(6) {
			transform: translateZ(2rem);
		}
	}


	@keyframes spinner {
		0% {
			transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
		}

		50% {
			transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
		}

		100% {
			transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
		}
	}

	/* ╭────────────────────╮
	   │ 	Boxes loading.  │
	   ╰────────────────────╯
	*/
	/* Made by Nawsome- from : https://uiverse.io/Nawsome/cold-liger-90 */
	.loading {
		z-index: 40;
		margin-top: 80%;
		margin-left: 30%;
		position: absolute;
		& {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.boxes {
		--size: 3rem;
		--duration: 800ms;
		height: calc(var(--size) * 2);
		width: calc(var(--size) * 3);
		position: relative;
		transform-style: preserve-3d;
		transform-origin: 50% 50%;
		margin-top: calc(var(--size) * 1.5 * -1);
		transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
	}

	.boxes .box {
		width: var(--size);
		height: var(--size);
		top: 0;
		left: 0;
		position: absolute;
		transform-style: preserve-3d;
	}

	.boxes .box:nth-child(1) {
		transform: translate(100%, 0);
		-webkit-animation: box1 var(--duration) linear infinite;
		animation: box1 var(--duration) linear infinite;
	}

	.boxes .box:nth-child(2) {
		transform: translate(0, 100%);
		-webkit-animation: box2 var(--duration) linear infinite;
		animation: box2 var(--duration) linear infinite;
	}

	.boxes .box:nth-child(3) {
		transform: translate(100%, 100%);
		-webkit-animation: box3 var(--duration) linear infinite;
		animation: box3 var(--duration) linear infinite;
	}

	.boxes .box:nth-child(4) {
		transform: translate(200%, 0);
		-webkit-animation: box4 var(--duration) linear infinite;
		animation: box4 var(--duration) linear infinite;
	}

	.boxes .box > div {
		--background: #5C8DF6;
		--top: auto;
		--right: auto;
		--bottom: auto;
		--left: auto;
		--translateZ: calc(var(--size) / 2);
		--rotateY: 0deg;
		--rotateX: 0deg;
		position: absolute;
		width: 100%;
		height: 100%;
		background: var(--background);
		top: var(--top);
		right: var(--right);
		bottom: var(--bottom);
		left: var(--left);
		transform: 
			rotateY(var(--rotateY))
			rotateX(var(--rotateX))
			translateZ(var(--translateZ));
	}

	.boxes .box > div:nth-child(1) {
		--top: 0;
		--left: 0;
	}

	.boxes .box > div:nth-child(2) {
		--background: #145af2;
		--right: 0;
		--rotateY: 90deg;
	}

	.boxes .box > div:nth-child(3) {
		--background: #447cf5;
		--rotateX: -90deg;
	}

	.boxes .box > div:nth-child(4) {
		--background: #DBE3F4;
		--top: 0;
		--left: 0;
		--translateZ: calc(var(--size) * 3 * -1);
	}

	@-webkit-keyframes box1 {
		0%, 50% {
			transform: translate(100%, 0);
		}

		100% {
			transform: translate(200%, 0);
		}
	}

	@keyframes box1 {
		0%, 50% {
			transform: translate(100%, 0);
		}

		100% {
			transform: translate(200%, 0);
		}
	}

	@-webkit-keyframes box2 {
		0% {
			transform: translate(0, 100%);
		}

		50% {
			transform: translate(0, 0);
		}

		100% {
			transform: translate(100%, 0);
		}
	}

	@keyframes box2 {
		0% {
			transform: translate(0, 100%);
		}

		50% {
			transform: translate(0, 0);
		}

		100% {
			transform: translate(100%, 0);
		}
	}

	@-webkit-keyframes box3 {
		0%, 50% {
			transform: translate(100%, 100%);
		}

		100% {
			transform: translate(0, 100%);
		}
	}

	@keyframes box3 {
		0%, 50% {
			transform: translate(100%, 100%);
		}

		100% {
			transform: translate(0, 100%);
		}
	}

	@-webkit-keyframes box4 {
		0% {
			transform: translate(200%, 0);
		}

		50% {
			transform: translate(200%, 100%);
		}

		100% {
			transform: translate(100%, 100%);
		}
	}

	@keyframes box4 {
		0% {
			transform: translate(200%, 0);
		}

		50% {
			transform: translate(200%, 100%);
		}

		100% {
			transform: translate(100%, 100%);
		}
	}


	.layers-btn,
	.logout-btn {
		border-radius: 40%;
		background: var(--inner-shadow);
		width: 2.3rem;
		height: 2.3rem;
		transition: all 500ms ease-in-out;
		cursor: pointer;
		opacity: .9;
		& {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}


	.section-left-up {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: space-around;
		flex-direction: row;
		gap: .3rem;
		& {
			width: 50%;
			height: 8%;
			position: absolute;
		}
		& > * {
			box-shadow: var(--shadow1);
		}
		& .section__menu--btn {
			border-radius: 40%;
		}
		& > .section__menu--btn:active {
			box-shadow: var(--inner-shadow);
		}
	}


	.mode {
		& label > svg {
			fill: var(--p__color--mode);
			width: 1rem;
			height: 1rem;
			transition: all 500ms ease-in-out;
			&:hover {
				fill: var(--dark);
			}
		}
	}


	.logout-icon {
		fill: var(--p__color--mode);
		width: 1rem;
		height: 1rem;
		transition: all 500ms ease-in-out;
		&:hover {
			fill: var(--color1);
		}
	}


	.clear, .IO__press__btn {
		margin: 2rem 1rem;
	}


	/* ╭─────────────────────╮
	   │ 	main container.  │
	   ╰─────────────────────╯
	*/
	.container {
		margin-top: 4.2rem;
	}


	.container,
	.container__status__pane,
	.container__status__pane__frame {
		display: flex;
		flex-wrap: wrap;
		flex-shrink: 1;
		flex-basis: 100%;
		gap: 2rem;
		justify-content: space-between;
	}


	.IO__press * {
		display: none;
	}


	.IO__press-mobile > * {
		position: fixed;
		inset: 0;
		width: 90%;
		& > button > * {
			pointer-events: none;
		}
	}


	.press--btn-mobile {
		color: var(--color4);
		height: 2.5rem;
		width: 2.5rem;
		background: #12111385;
		opacity: .8;
		border: none;
		border-radius: .7rem;
		cursor: pointer;
		transition: transform .3s ease-in-out;
		& {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		& > span {
			position: absolute;
			margin-top: 2rem;
			font-size: .5rem;
			font-weight: 700;
		}
		& > svg {
			fill: var(--p__color--mode);
		}
		&:hover {
			transition: all .5s ease-in-out;
			transform: translateY(.1rem);
			border-bottom: .05rem solid var(--color4);
			border-right: .05rem solid var(--color4);
			box-shadow: var(--shadow1);
		}
		&:active {
			box-shadow: var(--inner-shadow);
			transition: all .5s ease-in-out;
		}
	}


	.fixed-menu {
		isolation: isolate;
		display: flex;
		justify-content: space-between;
		flex-basis: 100%;
		flex-grow: 1;
		transition: 500ms ease-in-out;
	}


	.fixed-menu {
		height: 9svh;
		margin: 203% 6svw 0 6svw;
		border-radius: 10dvw;
		opacity: .8;
		z-index: 10;
		& .add--btn:active {
			background: var(--color6);
			& > svg {
				fill: var(--add-col);
			}
		}
		& .del--btn:active {
			background: var(--color8);
			& > svg {
				fill: var(--color3);
			}
		}
		& .clear--btn:active {
			background: var(--color4);
			& > svg {
				fill: var(--iframes-bg);
			}
		}
		& .option--btn:active {
			--options: flex;
			background: var(--inner-shadow);
			& > svg {
				fill: var(--result-col);
			}
		}
	}


	.fan-options {
		display: none;
	}


	.fan-options:is([aria-hidden="false"]) {
		display: flex;
		flex-direction: row-reverse;
		& {
			margin: 206% 9svw 0 6svw;
			z-index: 20;
		}
		& a:target {
			display: true;
		}
		& a > svg {
			fill: var(--input-font-col);
		}
		& > * {
			flex-direction: column-reverse;
			flex-basis: 100%;
			position: absolute;
			border-radius: 1rem;
			border: transparent;
			background: var(--bg-col);
			box-shadow: var(--inner-shadow);
		}
		& a:nth-child(1) {
			line-height: 0;
			animation: search 500ms ease;
			animation-fill-mode: forwards;
		}
		& a:nth-child(2) {
			line-height: 0;
			animation: currency 200ms ease;
			animation-delay: .3s;
			animation-fill-mode: forwards;
		}
		& a:nth-child(3) {
			line-height: 0;
			animation: units 300ms ease;
			animation-delay: .6s;
			animation-fill-mode: forwards;
		}
	}


	@keyframes search {
		0% {
			opacity: 0;
			transform: translate(
				cos(0deg),
				sin(0deg)
			);
		}
		100% {
			opacity: 1;
			transform: translate(
				calc(cos(330deg) * 1.5rem),
				calc(sin(270deg) * 3rem)
			);
		}
	}
	@keyframes currency {
		0% {
			opacity: 0;
			transform: translate(
				cos(0deg),
				sin(0deg)
			);
		}
		100% {
			opacity: 1;
			transform: translate(
				calc(cos(250deg) * 3.8rem),
				calc(sin(250deg) * 3.5rem)
			);
		}
	}
	@keyframes units {
		0% {
			opacity: 0;
			transform: translate(
				cos(0deg),
				sin(0deg)
			);
		}
		100% {
			opacity: 1;
			transform: translate(
				calc(cos(190deg) * 2.6rem),
				calc(sin(190deg) * 6rem)
			);
		}
	}


	.mobile-icon {
		fill: var(--iframes-bg);
		fill-opacity: .9;
		width: 1.7rem;
		height: 1.7rem;
		border-radius: 50%;
		box-shadow: var(--shadow1);
		stroke-width: 5rem;
	}


	.mobile-menu {
		fill: var(--dark);
		width: 1.5rem;
		height: 1.5rem;
	}



	.IO__sizes--code,
	.IO__top__estimate {
		width: 90%;
		margin-right: .2rem;
	}


	.IO__sizes__mesure {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 1rem;
	}


	.IO__add--form {
		width: 90%;
		border: .1rem solid var(--iframes-bg);
		border-radius: 1rem;
		padding: .8rem .5rem;
		transition: .5s ease;
	}


	.plotter:is([aria-hidden="true"]),
	.result:is([aria-hidden="true"]),
	.accordion div:is([aria-hidden="true"]) {
		display: none;
	}


	.exchange--content:is([aria-hidden="false"]),
	.units-convertion:is([aria-hidden="false"]),
	.get-estimate:is([aria-hidden="false"]) {
		display: block;
		animation: emerge 1.5s linear;
		animation-fill-mode: forwards;
	}

	
	.result:is([aria-hidden="false"]) {
		display: block;
		animation: emerge 2.5s linear;
		animation-fill-mode: forwards;
		.result--panels {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;
			gap: 1rem;
		}
	}


	@keyframes emerge {
		0%, 50% {
			opacity: 0;
			box-shadow: none;
			border: .1rem solid var(--iframes-bg);
			filter: blur(1rem);
		}
		100% {
			opacity: 1;
		}
	}


	/* ╭──────────────────────────────────────────────────────────╮
	   │                   Layer plotter setup.                   │
	   ╰──────────────────────────────────────────────────────────╯
	*/

	.plotter:is([aria-hidden="true"]) {
		display: none;
	}

	.plotter:is([aria-hidden="false"]) {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-basis: 100%;
		animation: emerge 2.5s ease;
		animation-fill-mode: forwards;
		transition: all 2s linear;
		& {
			margin: 3% 20%;
		}
		& > h2 {
			min-width: 100%;
		}
		.crate-layer {
			animation: fade-open 3s ease;
			animation-fill-mode: forwards;
		}
		.crate-layer > * {
			font-family: 'Mitr', sans-serif;
			font-weight: 400;
			font-size: .7rem;
		}
		.crate-layer text {
			fill: var(--p__color--mode);
			transition: fill 1.5s ease;
		}
		.crate-layer rect {
			rx: 2rem;
			ry: 2rem;
			fill: transparent;
			stroke: var(--color8);
		}
		.crate-layer rect:hover {
			fill: var(--dark-blue);
			transition: fill 1s ease-in-out;
		}
		.crate-layer {
			padding: .5rem;
			justify-content: center;
			border-radius: 2rem;
			border: .1rem solid var(--iframes-bg);
			box-shadow: var(--inner-shadow);
		}
	}
}

/* ╭──────────────────────────────────────────────────────────╮
   │                    iPhone x landscape                    │
   ╰──────────────────────────────────────────────────────────╯
*/

@media only screen
	and ( min-width: 840px)
	and ( max-width: 1700px) {

	header {
		height: 10%;
	}

	footer {
		display: none;
	}

	/* ╭───────────────────╮
	   │ 	Spinner setup  │
	   ╰───────────────────╯
	*/
	/* Made by Kailoyan Todorov - from https://uiverse.io/bociKond/wise-bat-13 */
	.spinner {
		width: 4rem;
		height: 4rem;
		--clr: var(--color1);
		--clr-alpha: var(--gradient);
		animation: spinner 3.6s infinite ease;
		transform-style: preserve-3d;
		& > * {
			display:grid;
			place-items: center;
			position: absolute;
		}

		& > div {
			background-color: var(--clr-alpha);
			height: 100%;
			position: absolute;
			width: 100%;
			border: .2rem solid var(--clr);
		}

		& div:nth-of-type(1) {
			transform: translateZ(-2rem) rotateY(180deg);
		}

		& div:nth-of-type(2) {
			transform: rotateY(-270deg) translateX(50%);
			transform-origin: top right;
		}

		& div:nth-of-type(3) {
			transform: rotateY(270deg) translateX(-50%);
			transform-origin: center left;
		}

		& div:nth-of-type(4) {
			transform: rotateX(90deg) translateY(-50%);
			transform-origin: top center;
		}

		& div:nth-of-type(5) {
			transform: rotateX(-90deg) translateY(50%);
			transform-origin: bottom center;
		}

		& div:nth-of-type(6) {
			transform: translateZ(2rem);
		}
	}


	@keyframes spinner {
		0% {
			transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
		}

		50% {
			transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
		}

		100% {
			transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
		}
	}


	/* ╭────────────────────╮
	   │ 	Boxes loading.  │
	   ╰────────────────────╯
	*/
	/* Made by Nawsome- from : https://uiverse.io/Nawsome/cold-liger-90 */

	.loading {
		z-index: 40;
		margin-top: 10%;
		margin-left: 40%;
		position: absolute;
		& {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.boxes {
		--size: 3rem;
		--duration: 800ms;
		height: calc(var(--size) * 2);
		width: calc(var(--size) * 3);
		position: relative;
		transform-style: preserve-3d;
		transform-origin: 50% 50%;
		margin-top: calc(var(--size) * 1.5 * -1);
		transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
	}

	.boxes .box {
		width: var(--size);
		height: var(--size);
		top: 0;
		left: 0;
		position: absolute;
		transform-style: preserve-3d;
	}

	.boxes .box:nth-child(1) {
		transform: translate(100%, 0);
		-webkit-animation: box1 var(--duration) linear infinite;
		animation: box1 var(--duration) linear infinite;
	}

	.boxes .box:nth-child(2) {
		transform: translate(0, 100%);
		-webkit-animation: box2 var(--duration) linear infinite;
		animation: box2 var(--duration) linear infinite;
	}

	.boxes .box:nth-child(3) {
		transform: translate(100%, 100%);
		-webkit-animation: box3 var(--duration) linear infinite;
		animation: box3 var(--duration) linear infinite;
	}

	.boxes .box:nth-child(4) {
		transform: translate(200%, 0);
		-webkit-animation: box4 var(--duration) linear infinite;
		animation: box4 var(--duration) linear infinite;
	}

	.boxes .box > div {
		--background: #5C8DF6;
		--top: auto;
		--right: auto;
		--bottom: auto;
		--left: auto;
		--translateZ: calc(var(--size) / 2);
		--rotateY: 0deg;
		--rotateX: 0deg;
		position: absolute;
		width: 100%;
		height: 100%;
		background: var(--background);
		top: var(--top);
		right: var(--right);
		bottom: var(--bottom);
		left: var(--left);
		transform: 
			rotateY(var(--rotateY))
			rotateX(var(--rotateX))
			translateZ(var(--translateZ));
	}

	.boxes .box > div:nth-child(1) {
		--top: 0;
		--left: 0;
	}

	.boxes .box > div:nth-child(2) {
		--background: #145af2;
		--right: 0;
		--rotateY: 90deg;
	}

	.boxes .box > div:nth-child(3) {
		--background: #447cf5;
		--rotateX: -90deg;
	}

	.boxes .box > div:nth-child(4) {
		--background: #DBE3F4;
		--top: 0;
		--left: 0;
		--translateZ: calc(var(--size) * 3 * -1);
	}

	@-webkit-keyframes box1 {
		0%, 50% {
			transform: translate(100%, 0);
		}

		100% {
			transform: translate(200%, 0);
		}
	}

	@keyframes box1 {
		0%, 50% {
			transform: translate(100%, 0);
		}

		100% {
			transform: translate(200%, 0);
		}
	}

	@-webkit-keyframes box2 {
		0% {
			transform: translate(0, 100%);
		}

		50% {
			transform: translate(0, 0);
		}

		100% {
			transform: translate(100%, 0);
		}
	}

	@keyframes box2 {
		0% {
			transform: translate(0, 100%);
		}

		50% {
			transform: translate(0, 0);
		}

		100% {
			transform: translate(100%, 0);
		}
	}

	@-webkit-keyframes box3 {
		0%, 50% {
			transform: translate(100%, 100%);
		}

		100% {
			transform: translate(0, 100%);
		}
	}

	@keyframes box3 {
		0%, 50% {
			transform: translate(100%, 100%);
		}

		100% {
			transform: translate(0, 100%);
		}
	}

	@-webkit-keyframes box4 {
		0% {
			transform: translate(200%, 0);
		}

		50% {
			transform: translate(200%, 100%);
		}

		100% {
			transform: translate(100%, 100%);
		}
	}

	@keyframes box4 {
		0% {
			transform: translate(200%, 0);
		}

		50% {
			transform: translate(200%, 100%);
		}

		100% {
			transform: translate(100%, 100%);
		}
	}



	/* ╭──────────────────────╮
	   │ 	Header settings:  │
	   ╰──────────────────────╯
	*/
	.header--title {
		text-align: left;
	}


	.header-content,
	.section__menu {
		display: flex;
		justify-content: space-between;
	}


	.layers-btn,
	.logout-btn {
		border-radius: 40%;
		background: var(--inner-shadow);
		width: 2.3rem;
		height: 2.3rem;
		transition: all 500ms ease-in-out;
		cursor: pointer;
		opacity: .9;
		& {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}


	.section-left-up {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: space-around;
		flex-direction: row;
		gap: .3rem;
		& {
			width: 30%;
			max-height: 10%;
			margin-top: 1rem;
			position: absolute
		}
		& > * {
			box-shadow: var(--shadow1);
		}
		& .section__menu--btn {
			border-radius: 40%;
		}
		& > .section__menu--btn:active {
			box-shadow: var(--inner-shadow);
		}
	}


	.mode {
		& label > svg {
			fill: var(--color4);
			width: 1rem;
			height: 1rem;
			transition: all 500ms ease-in-out;
			&:hover {
				fill: var(--dark);
			}
		}
	}


	.logout-icon {
		fill: var(--color4);
		width: 1rem;
		height: 1rem;
		transition: all 500ms ease-in-out;
		&:hover {
			fill: var(--dark);
		}
	}
	.clear, .IO__press__btn {
		margin: 2rem 1rem;
	}


	/* ╭─────────────────────╮
	   │ 	main container.  │
	   ╰─────────────────────╯
	*/
	.container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		column-gap: var(--colg-mobile);
		row-gap: var(--rowg-mobile);
		margin-top: 4rem;
	}


	/* ╭─────────────────────────────╮
	   │ 	Right status container.  │
	   ╰─────────────────────────────╯
	*/
	.container__status__pane {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 2rem;
		flex-grow: 4;
	}


	.container__status__pane__frame {
		flex-shrink: 1;
		flex-grow: 3;
	}


	.IO__press * {
		display: none;
	}
	
	
	.IO__press-mobile > * {
		position: fixed;
		inset: 0;
		& > button > * {
			pointer-events: none;
		}
	}
	
	
	.press--btn-mobile {
		color: var(--color4);
		height: 3rem;
		width: 3rem;
		background: #12111385;
		opacity: .8;
		border: none;
		border-radius: 30%;
		cursor: pointer;
		transition: transform .3s ease-in-out;
		& {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		& > span {
			position: absolute;
			margin-top: 2rem;
			font-size: .5rem;
			font-weight: 700;
		}
		& > svg {
			fill: var(--p__color--mode);
		}
		&:hover {
			transition: all .5s ease-in-out;
			transform: translateY(.1rem);
			border-bottom: .05rem solid var(--color4);
			border-right: .05rem solid var(--color4);
			box-shadow: var(--shadow1);
		}
		&:active {
			box-shadow: var(--inner-shadow);
			transition: all .5s ease-in-out;
		}
	}


	.fixed-menu {
		display: flex;
		justify-content: space-between;
		flex-basis: 100%;
		flex-grow: 1;
		height: 10svh;
		margin: 40% 3svw 0 3svw;
		transition: 500ms ease-in-out;
		& {
			height: 9svh;
			padding: .1rem;
			border-radius: 10dvw;
			z-index: 20;
			opacity: .8;
			z-index: 10;
			position: fixed;
		}
		& .add--btn:active {
			background: var(--color6);
			& > svg {
				fill: var(--add-col);
			}
		}
		& .del--btn:active {
			background: var(--color8);
			& > svg {
				fill: var(--color3);
			}
		}
		& .clear--btn:active {
			background: var(--color4);
			& > svg {
				fill: var(--light-blue1);
			}
		}
		& .option--btn:active {
			background: var(--color4);
			& > svg {
				fill: var(--result-col);
			}
		}
	}


	.fan-options:is([aria-hidden="true"]) {
		display: none;
	}
	

	.fan-options:is([aria-hidden="false"]) {
		display: flex;
		flex-direction: row-reverse;
		& {
			margin: 41.5% 4.5svw 0 6svw;
			z-index: 20;
		}
		& a:target {
			display: unset;
		}
		& a > svg {
			fill: var(--input-font-col);
		}
		& > * {
			flex-direction: column-reverse;
			flex-basis: 100%;
			position: absolute;
			border-radius: 30%;
			border: transparent;
			background: var(--bg-col);
			box-shadow: var(--inner-shadow);
		}
		& a:nth-child(1) {
			line-height: 0;
			animation: search 500ms ease;
			animation-fill-mode: forwards;
		}
		& a:nth-child(2) {
			line-height: 0;
			animation: currency 200ms ease;
			animation-delay: .3s;
			animation-fill-mode: forwards;
		}
		& a:nth-child(3) {
			line-height: 0;
			animation: units 200ms ease;
			animation-delay: .3s;
			animation-fill-mode: forwards;
		}
	}


	@keyframes search {
		0% {
			opacity: 0;
			transform: translate(
				cos(0deg),
				sin(0deg)
			);
		}
		100% {
			opacity: 1;
			transform: translate(
				calc(cos(280deg) * 3rem),
				calc(sin(280deg) * 3.5rem)
			);
		}
	}
	@keyframes currency {
		0% {
			opacity: 0;
			transform: translate(
				cos(0deg),
				sin(0deg)
			);
		}
		100% {
			opacity: 1;
			transform: translate(
				calc(cos(230deg) * 4rem),
				calc(sin(230deg) * 4rem)
			);
		}
	}
	@keyframes units {
		0% {
			opacity: 0;
			transform: translate(
				cos(0deg),
				sin(0deg)
			);
		}
		100% {
			opacity: 1;
			transform: translate(
				calc(cos(180deg) * 3.5rem),
				calc(sin(185deg) * 5rem)
			);
		}
	}


	.mobile-icon {
		fill: var(--iframes-bg);
		fill-opacity: .9;
		width: 1.7rem;
		height: 1.7rem;
		border-radius: 50%;
		box-shadow: var(--shadow1);
		stroke-width: 5rem;
	}

	
	.mobile-menu {
		fill: var(--color4);
		width: 1.5rem;
		height: 1.5rem;
	}


	.IO__sizes--code,
	.IO__top__estimate {
		width: 90%;
		margin-right: .2rem;
	}


	.IO__sizes__mesure {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 1rem;
	}


	.IO__add--form {
		width: 90%;
		border: .1rem solid var(--iframes-bg);
		border-radius: 1rem;
		padding: .8rem .5rem;
		transition: .5s ease;
	}


	.result:is([aria-hidden="true"]),
	.accordion div:is([aria-hidden="true"]) {
		display: none;
	}


	.exchange--content:is([aria-hidden="false"]),
	.units-convertion:is([aria-hidden="false"]),
	.get-estimate:is([aria-hidden="false"]) {
		display: block;
		animation: emerge 1.5s linear;
		animation-fill-mode: forwards;
	}

	
	.result:is([aria-hidden="false"]) {
		display: block;
		animation: emerge 2.5s linear;
		animation-fill-mode: forwards;
		& > .result--panels {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-evenly;
			gap: 1rem;
		}
	}


	@keyframes emerge {
		0%, 50% {
			opacity: 0;
			box-shadow: none;
			border: .1rem solid var(--iframes-bg);
			filter: blur(1rem);
		}
		100% {
			opacity: 1;
		}
	}

	/* ╭──────────────────────────────────────────────────────────╮
	   │                   Layer plotter setup.                   │
	   ╰──────────────────────────────────────────────────────────╯
	*/

	.plotter:is([aria-hidden="true"]) {
		display: none;
	}

	.plotter:is([aria-hidden="false"]) {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-basis: 100%;
		animation: emerge 2.5s ease;
		animation-fill-mode: forwards;
		transition: all 2s linear;
		& > h2 {
			min-width: 100%;
		}
		.crate-layer {
			animation: fade-open 3s ease;
			animation-fill-mode: forwards;
		}
		.crate-layer > * {
			font-family: 'Mitr', sans-serif;
			font-weight: 400;
			font-size: .7rem;
		}
		.crate-layer text {
			fill: var(--p__color--mode);
			transition: fill 1.5s ease;
		}
		.crate-layer rect {
			rx: 2rem;
			ry: 2rem;
			fill: transparent;
			stroke: var(--color8);
		}
		.crate-layer rect:hover {
			fill: var(--dark-blue);
			transition: fill 1s ease-in-out;
		}
		.crate-layer {
			padding: .5rem;
			justify-content: center;
			border-radius: 2rem;
			border: .1rem solid var(--iframes-bg);
			box-shadow: var(--inner-shadow);
		}
	}
}
