
/* ╭────────────────────────────────────────────────────────────────────────╮*/
/* │ ---------------------------------------------------------------------- │*/
/* │                            responsive settings                         │*/
/* │ ---------------------------------------------------------------------- │*/
/* ╰────────────────────────────────────────────────────────────────────────╯*/

:root {
	--fonts: 4rem;
	--color1: #03e9f4; 
	--color2: #162789; 
	--color3: #FC007A; 
	--color4: #FFF; 
	--color5: #333;
	--color6: #00ff00;
	--light-blue1: #CCDBDC;
	--light-blue2: #9AD1D4;
	--light-blue3: ##80CED780CED7;
	--dark-blue: #003249;
	--font-weight: 600;
	--colg: 5rem;
	--rowg: 3rem;
	--border: .5rem;
	--background-transp: #ffffff33;
	--gradient: linear-gradient(270deg, var(--color3), var(--color1));
	--shadow1: .3rem .3rem .6rem var(--light-blue2),
		-.2rem -.2rem .5rem var(--color4);
	--inner-shadow: inset .2rem .2rem .5rem var(--light-blue2),
		-.2rem -.2rem .5rem var(--color4);
}

/* TODO: link the screen sizes passing through actual min -> next max sizes. */

@media only screen 
	and (max-width: 1080px) {
	header, .sidemenu{ display: none; }

	.container, .io__press, .container__status__pane{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		column-gap: 2rem;
		padding: 0 2.5rem;
	}

	.metrica, .io__sizes__code, .io__top__estimate{ margin: 0 4rem 1.5rem 0; }

	.metrica-unit {
		margin-left: 0;
		padding-right: 1.5rem;
	}

	.container__insert, .container__status{ padding: 1rem 2.5rem; }

	.io__sizes__len, .io__sizes__dep, .io__sizes__hei{ margin-right: 1rem; }
	
	.title, .counter{ grid-column: span 1; }

	.container__status__pane {
		padding: 0 0;
	}

	.io__press__btn { margin: 0.5rem 1rem; }
	
	.title, .io__press__crate {
		padding-left: 0;
		margin: 0 0 1rem 0;
	}
}


/*           iphone 6+, 7+ and 8+           */
@media only screen
	and ( min-width: 414px)
	and ( max-width: 736px) { 
	header, .sidemenu{ display: none; }

	.clear, .io__press__btn { margin: 2rem 1rem; }

	.container, .container__status__pane {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
		padding: 0 0.5rem;
	}

	.metrica, .io__sizes__code, .io__top__estimate{ margin: 0 4rem 1.5rem 0; }

	.io__top__unit {
		margin-left: 0;
		padding-right: 1.5rem;
	}

	.container__insert, .container__status { padding: 1rem 2.5rem; }

	.io__sizes__len, .io__sizes__dep, .io__sizes__hei{ margin-right: 1rem; }

	.container--span, .counter{ grid-column: span 1; }
	
	.container__status__pane {
		padding: 0 0;
	}

	.io__press__btn { margin: 0.5rem 1rem; }

	.title, .io__press__crate{
		padding-left: 0;
		margin-left: 0;
	}
}


/*                  iphone x                 */
@media only screen
	and (-webkit-min-device-pixel-ratio: 3)
	and ( min-width: 375px)
	and ( max-width: 812px) {
	header, .sidemenu{ display: none; }

	.clear, .io__press__btn { margin: 2rem 1rem; }

	.container, .container__status__pane {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		padding: 0 0.5rem;
	}

	.metrica, .io__sizes__code, .io__top__estimate{ margin: 0 4rem 1.5rem 0; }

	.io__top__unit {
		margin-left: 0;
		padding-right: 1.5rem;
	}

	.container__insert, .container__status { padding: 1rem 2.5rem; }

	.io__sizes__len, .io__sizes__dep, .io__sizes__hei{ margin-right: 1rem; }

	.container--span, .counter{ grid-column: span 1; }
	
	.container__status__pane {
		padding: 0 0;
	}

	.io__press__btn { margin: 0.5rem 1rem; }

	.title, .io__press__crate{
		padding-left: 0;
		margin-left: 0;
	}
}

/*                  galaxy s6                 */
@media only screen
	and (-webkit-min-device-pixel-ratio: 4)
	and ( min-width: 360px)
	and ( max-width: 640px) {
	header, .sidemenu{ display: none; }

	#clear, .io__press__btn { margin: 2rem 1rem; }

	.container, .container__status__pane {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		padding: 0 0.5rem;
	}

	.metrica, .io__sizes__code, .io__top__estimate{ margin: 0 4rem 1.5rem 0; }

	.io__top__unit {
		margin-left: 0;
		padding-right: 1.5rem;
	}

	.container__insert, .container__status { padding: 1rem 2.5rem; }

	.io__sizes__len, .io__sizes__dep, .io__sizes__hei{ margin-right: 1rem; }

	.container--span, .counter{ grid-column: span 1; }
	
	.container__status__pane {
		padding: 0 0;
	}

	.io__press__btn { margin: 0.5rem 1rem; }

	.title, .io__press__crate{
		padding-left: 0;
		margin-left: 0;
	}
}
