/* TODO: link the screen sizes passing through actual min -> next max sizes. */
@media only screen
	and (min-width: 1080px)
	and (max-width: 3840px) {
	/* main container. */
	.container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		column-gap: var(--colg);
		row-gap: var(--rowg);
		padding: 5% 20%;
	}


	/* Right status container. */
	.container__status__pane {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 2rem;
		row-gap: 4rem;
	}


	.container__status__pane__frame {
		grid-row: span 2;
		grid-column: span 2;
		height: 100%;
	}


	.IO__add--form {
		border: .1rem solid var(--iframes-bg);
		border-radius: 1rem;
		padding: .8rem .5rem;
		width: 60%;
		transition: .5s ease;
	}

	.IO__press-mobile * {
		display: none;
	}

	.IO__sizes--code,
	.IO__top__estimate {
		width: auto;
	}

}


/* ╭──────────────────────────────────────────────────────────╮
   │                    iPhone x portrait                     │
   ╰──────────────────────────────────────────────────────────╯
*/

@media only screen
	and ( min-width: 390px)
	and ( max-width: 840px) {

	header {
		height: 10%;
	}

	footer {
		display: none;
	}


	.clear, .IO__press__btn {
		margin: 2rem 1rem;
	}


	/* main container. */
	.container {
		margin-top: 2rem;
	}


	.container,
	.container__status__pane,
	.container__status__pane__frame {
		display: flex;
		flex-wrap: wrap;
		flex-shrink: 1;
		flex-basis: 100%;
		gap: 2rem;
		justify-content: space-between;
	}


	.IO__press * {
		display: none;
	}


	.IO__press-mobile > * {
		position: fixed;
		inset: 0;
	}


	.fixed-menu {
		isolation: isolate;
		display: flex;
		justify-content: space-between;
		flex-basis: 100%;
		flex-grow: 1;
		transition: 500ms ease-in-out;
	}


	.fixed-menu {
		height: 9svh;
		margin: 203% 6svw 0 6svw;
		padding: .1rem;
		border-radius: 10dvw;
		z-index: 20;
		opacity: .8;
		z-index: 10;
		& .add--btn:active {
			background: var(--color6);
			& > svg {
				fill: var(--add-col);
			}
		}
		& .del--btn:active {
			background: var(--color8);
			& > svg {
				fill: var(--color3);
			}
		}
		& .clear--btn:active {
			background: var(--color4);
			& > svg {
				fill: var(--light-blue1);
			}
		}
		& .option--btn:active {
			background: var(--color4);
			& > svg {
				fill: var(--result-col);
			}
		}
	}


	.mobile-menu {
		fill: var(--color4);
		width: 1.5rem;
		height: 1.5rem;
	}


	.press--btn-mobile {
		color: var(--color4);
		height: 3rem;
		width: 3rem;
		background: #12111385;
		opacity: .8;
		border: none;
		border-radius: 30%;
		cursor: pointer;
		transition: transform .3s ease-in-out;
		& {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		& > span {
			position: absolute;
			margin-top: 2rem;
			font-size: .5rem;
			font-weight: 700;
		}
		&:hover {
			transition: all .5s ease-in-out;
			transform: translateY(.1rem);
			border-bottom: .05rem solid var(--color4);
			border-right: .05rem solid var(--color4);
			box-shadow: var(--shadow1);
		}
		&:active {
			box-shadow: var(--inner-shadow);
			transition: all .5s ease-in-out;
		}
	}

	.result--panels {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
	}


	.IO__sizes--code,
	.IO__top__estimate {
		width: 90%;
		margin-right: .2rem;
	}


	.IO__sizes__mesure {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 1rem;
	}


	.IO__add--form {
		width: 90%;
		border: .1rem solid var(--iframes-bg);
		border-radius: 1rem;
		padding: .8rem .5rem;
		transition: .5s ease;
	}

	.container-interactive {
		display: none;
	}
}

/* ╭──────────────────────────────────────────────────────────╮
   │                    iPhone x landscape                    │
   ╰──────────────────────────────────────────────────────────╯
*/

@media only screen
	and ( min-width: 840px)
	and ( max-width: 1700px) {

	header {
		height: 10%;
	}

	footer {
		display: none;
	}


	.clear, .IO__press__btn {
		margin: 2rem 1rem;
	}


	/* main container. */
	.container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		column-gap: var(--colg-mobile);
		row-gap: var(--rowg-mobile);
		margin-top: 2rem;
	}


	/* Right status container. */
	.container__status__pane {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 2rem;
		flex-grow: 4;
	}


	.container__status__pane__frame {
		flex-shrink: 1;
		flex-grow: 3;
	}


	.IO__press * {
		display: none;
	}
	
	
	.IO__press-mobile > * {
		position: fixed;
		inset: 0;
	}
	
	
	.fixed-menu {
		display: flex;
		justify-content: space-between;
		flex-basis: 100%;
		flex-grow: 1;
		height: 10svh;
		margin: 40% 1svw 0 1svw;
		transition: 500ms ease-in-out;
	}


	.fixed-menu {
		height: 9svh;
		padding: .1rem;
		border-radius: 10dvw;
		z-index: 20;
		opacity: .8;
		z-index: 10;
		& .add--btn:active {
			background: var(--color6);
			& > svg {
				fill: var(--add-col);
			}
		}
		& .del--btn:active {
			background: var(--color8);
			& > svg {
				fill: var(--color3);
			}
		}
		& .clear--btn:active {
			background: var(--color4);
			& > svg {
				fill: var(--light-blue1);
			}
		}
		& .option--btn:active {
			background: var(--color4);
			& > svg {
				fill: var(--result-col);
			}
		}
	}


	.mobile-menu {
		fill: var(--color4);
		width: 1.5rem;
		height: 1.5rem;
	}


	.press--btn-mobile {
		color: var(--color4);
		height: 3rem;
		width: 3rem;
		background: #12111385;
		opacity: .8;
		border: none;
		border-radius: 30%;
		cursor: pointer;
		transition: transform .3s ease-in-out;
		& {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		& > span {
			position: absolute;
			margin-top: 2rem;
			font-size: .5rem;
			font-weight: 700;
		}
		&:hover {
			transition: all .5s ease-in-out;
			transform: translateY(.1rem);
			border-bottom: .05rem solid var(--color4);
			border-right: .05rem solid var(--color4);
			box-shadow: var(--shadow1);
		}
		&:active {
			box-shadow: var(--inner-shadow);
			transition: all .5s ease-in-out;
		}
	}


	.result--panels {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}


	.IO__sizes--code,
	.IO__top__estimate {
		width: 90%;
		margin-right: .2rem;
	}


	.IO__sizes__mesure {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 1rem;
	}


	.IO__add--form {
		width: 90%;
		border: .1rem solid var(--iframes-bg);
		border-radius: 1rem;
		padding: .8rem .5rem;
		transition: .5s ease;
	}


	.container-interactive {
		display: none;
	}
}
